<?php if (!defined('_GNUBOARD_')) exit;
add_stylesheet('<link rel="stylesheet" href="../../../plugins/bootstrap/css/bootstrap.min.css" type="text/css" media="screen">',0);
add_stylesheet('<link rel="stylesheet" href="../../../plugins/font-awesome/css/font-awesome.min.css" type="text/css" media="screen">',0);
add_stylesheet('<link rel="stylesheet" href="../../../plugins/eyoom-form/css/eyoom-form.min.css" type="text/css" media="screen">',0);
add_stylesheet('<link rel="stylesheet" href="../../../css/common.css" type="text/css" media="screen">',0);
add_stylesheet('<link rel="stylesheet" href="../../../css/style.css" type="text/css" media="screen">',0);
add_stylesheet('<link rel="stylesheet" href="../../../css/custom.css" type="text/css" media="screen">',0);
?>

<div class="memo-write">
	<h5 class="margin-bottom-20"><strong>쪽지 보내기</strong></h5>
    <div class="tab-e1">
        <ul class="nav nav-tabs">
            <li><a href="./memo.php?kind=recv">받은쪽지</a></li>
            <li><a href="./memo.php?kind=send">보낸쪽지</a></li>
            <li class="active"><a href="./memo_form.php">쪽지쓰기</a></li>
        </ul>
        <div class="tab-content">
			<!-- 쪽지 쓰기 시작 -->
		    <form name="fmemoform" action="{_memo_action_url}" onsubmit="return fmemoform_submit(this);" method="post" autocomplete="off" class="eyoom-form">
            <section>
                <label for="me_recv_mb_id" class="label">받는 회원아이디<strong class="sound_only">필수</strong></label>
                <label class="input">
                    <i class="icon-append fa fa-user"></i>
                    <input type="text" name="me_recv_mb_id" value="{_me_recv_mb_id}" id="me_recv_mb_id" required size="47">
                </label>
                <div class="note margin-bottom-10"><strong>Note:</strong> 여러 회원에게 보낼때는 컴마(,)로 구분하세요.</div>
            </section>
			<div class="margin-hr-10"></div>
            <section>
				<label for="me_memo" class="label">쪽지내용</label>
				<label class="textarea textarea-resizable">
					<textarea name="me_memo" id="me_memo" required>{_content}</textarea>
				</label>
            </section>
			<div class="margin-hr-10"></div>
            <section>
                <label class="label">자동등록방지</label>
                <div class="vc-captcha">{=captcha_html()}</div>
            </section>
		    <div class="text-center margin-bottom-20">
			    <input type="submit" value="보내기" id="btn_submit" class="btn-e btn-e-red">
		        <button type="button" onclick="window.close();" class="btn-e btn-e-dark">창닫기</button>
		    </div>
	    </form>
	</div>
</div>

<style>
.margin-hr-10 {height:1px;border-top:1px dotted #ddd;margin:10px 0}
.memo-write {padding:15px;font-size:12px}
.memo-write .tab-e1 .tab-content img {margin-top:0;margin-bottom:0}
</style>

<script type="text/javascript" src="../../../plugins/eyoom-form/plugins/jquery-ui/jquery-ui.min.js"></script>
<script type="text/javascript" src="../../../plugins/eyoom-form/plugins/jquery-form/jquery.form.min.js"></script>
<script>
function fmemoform_submit(f) {
    <!--{=chk_captcha_js()}-->

    return true;
}
</script>