<?php if (!defined('_GNUBOARD_')) exit; // 개별 페이지 접근 불가 ?>

<!--{? !_wmode }-->
				</div>
				<!--{? (defined('_INDEX_') && eyoom.use_main_side_layout == 'y') || (!defined('_INDEX_') && eyoom.use_sub_side_layout == 'y' && subinfo.sidemenu != 'n')}-->
				<!--{? eyoom.pos_side_layout == 'right'}-->
				{# side_bs}
				<!--{/}-->
				<!--{/}-->
				<div class="clearfix"></div>
			</div><!--{* End row *}-->
	    </div><!--{* End container *}-->
	    <!--{* End Basic Body *}-->

	    <!--{* Footer *}-->
		<!--{? color == 'white'}-->
	    <div class="footer footer-light">
	    <!--{: color == 'black'}-->
	    <div class="footer footer-dark">
	    <!--{/}-->
	        <div class="container">
	            <div class="row">
	                <!--{* ------------- About Us 영역 시작 ------------- *}-->
	                <div class="col-md-3 sm-margin-bottom-30">
	                    <div class="heading-footer"><h4>About Us</h4></div>
	                    <!--{* 아래 문구를 수정하세요. *}-->
	                    <p class="margin-bottom-15">Lorem ipsum dulor sit amet, consectetur adipisicing elft. Harum dolore, sequi ex quam sunt delectus veniam aut tempore illum, dulor nemo quae nulla nam perferendis enim quisquam, culpa.</p>
	                    <ul class="social-icons">
	                        <li><a href="#" class="social_facebook"></a></li>
	                        <li><a href="#" class="social_twitter"></a></li>
	                        <li><a href="#" class="social_google"></a></li>
	                        <li><a href="#" class="social_kakaostory"></a></li>
	                        <li><a href="#" class="social_band"></a></li>
	                        <li><a href="#" class="social_youtube"></a></li>
	                        <li><a href="#" class="social_instagram"></a></li>
	                        <li><a href="#" class="social_pinterest"></a></li>
	                        <li><a href="#" class="social_behance"></a></li>
	                        <li><a href="#" class="social_tumblr"></a></li>
	                    </ul>
	                </div>
	                <!--{* ------------- About Us 영역 끝 ------------- *}-->

	                <!--{* ------------- Recent Notice 영역 시작 ------------- *}-->
	                <div class="col-md-3 sm-margin-bottom-30">
	                    <div class="heading-footer"><h4>Recent Notice</h4></div>
	                    <!--{* 아래 bo_table=게시판id 설정 *}-->
	                    {latest->latest_eyoom('footer_latest','bo_table=게시판id||count=3||cut_subject=40')}
	                </div>
	                <!--{* ------------- Recent Notice 영역 끝 ------------- *}-->

	                <!--{* ------------- Information 영역 시작 ------------- *}-->
	                <div class="col-md-3 sm-margin-bottom-30">
	                    <div class="heading-footer"><h4>Information</h4></div>
	                    <ul class="list-unstyled footer-link-list">
	                        <li><a href="{C.G5_URL}/page/?pid=aboutus">About Us</a></li>
	                        <li><a href="{C.G5_URL}/page/?pid=provision">이용약관</a></li>
	                        <li><a href="{C.G5_URL}/page/?pid=privacy">개인정보 취급방침</a></li>
	                        <li><a href="{C.G5_URL}/page/?pid=noemail">이메일 무단수집거부</a></li>
	                        <li><a href="{C.G5_URL}/page/?pid=contactus">Contact Us</a></li>
	                    </ul>
	                </div>
	                <!--{* ------------- Information 영역 끝 ------------- *}-->

	                <!--{* ------------- Contact Us 영역 시작 ------------- *}-->
	                <div class="col-md-3">
	                    <div class="heading-footer"><h4>Contact Us</h4></div>
	                    <ul class="list-unstyled contactus">
		                    <!--{* 아래 사이트정보를 수정하세요. *}-->
	                        <li>
	                            <i class="fa fa-map-marker"></i>
	                            서울시 OOO OOO OOO<br>
	                            000-000
	                        </li>
	                        <li>
	                            <i class="fa fa-phone"></i>
	                            TEL : (02) OOO OOOO<br>
	                            FAX : (02) OOO OOOO
	                        </li>
	                        <li>
	                            <i class="fa fa-globe"></i>
	                            <a href="mailto:webmaster@site.name">webmaster@site.name</a><br>
	                            <a href="#">http://사이트주소</a>
	                        </li>
	                    </ul>
	                </div>
	                <!--{* ------------- Contact Us 영역 끝 ------------- *}-->
	            </div>
	        </div>

	        <div class="copyright">
	            <div class="container">
	                <p class="text-center">Copyright &copy; {config.cf_title}. All Rights Reserved.</p>
	            </div>
	        </div>
	    </div>
	    <!--{* End Footer *}-->
    </div><!--{* End Header Fixed *}-->
</div><!--{* End wrapper *}-->
<!--{/}-->

<!--{? _is_admin && !C.G5_IS_MOBILE && !_GET.wmode}-->
{# misc_bs}
<!--{/}-->

<script type="text/javascript" src="../js/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="../plugins/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../js/jquery.bootstrap-hover-dropdown.min.js"></script>
<script type="text/javascript" src="../js/jquery.sidebar.min.js"></script>
<script type="text/javascript" src="../js/back-to-top.js"></script>
<script type="text/javascript" src="../plugins/eyoom-form/plugins/jquery-ui/jquery-ui.min.js"></script>
<script type="text/javascript" src="../plugins/eyoom-form/plugins/jquery-form/jquery.form.min.js"></script>
<script type="text/javascript" src="../plugins/owl-carousel/owl-carousel/owl.carousel.js"></script>
<script type="text/javascript" src="../js/owl-carousel.js"></script>
<script type="text/javascript" src="../js/app.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function() {
        App.init();
        OwlCarousel.initOwlCarousel();
    });
</script>

<!--[if lt IE 9]>
	<script src="../js/respond.js"></script>
	<script src="../js/html5shiv.js"></script>
	<script src="../plugins/eyoom-form/js/eyoom-form-ie8.js"></script>
<![endif]-->
{# tail_sub}