<?php if (!defined('_GNUBOARD_')) exit; // 개별 페이지 접근 불가 ?>

<!--{* -----------------------------------------------------
	최신글 추출옵션에서 title=게시판명, bo_table=게시판id 를 설정합니다.
------------------------------------------------------ *}-->

<!--{* ------------- Main Banner Slider 영역 시작 // 767px 이하에서는 안보임 ------------- *}-->
<div class="main-banner-slider margin-bottom-20 hidden-xs">
    <div class="owl-navi">
        <a class="owl-btn prev-main-banner"><i class="fa fa-angle-left"></i></a>
        <a class="owl-btn next-main-banner"><i class="fa fa-angle-right"></i></a>
    </div>
	<div class="owl-slider-main-banner">
		<article class="item">
			<!--{* Main Banner Slider 첫번째 시작 // 링크 설정, 이미지와 문구를 수정하세요. *}-->
			<a href="#">
				<img src="../image/banner_slider/banner_slider_1.jpg">
				<div class="banner-slider-text">
					<h1>{config.cf_title} OPEN!</h1>
					<p>Lorem ipsum dulor sit amet, consectetur sequi ex quam sunt delectus adipisicing elft.<br>Veniam aut tempore illum, dulor nemo quae nulla.</p>
				</div>
			</a>
			<!--{* Main Banner Slider 첫번째 끝 *}-->
		</article>
		<article class="item">
			<!--{* Main Banner Slider 두번째 시작 // 링크 설정, 이미지와 문구를 수정하세요. *}-->
			<a href="#">
				<img src="../image/banner_slider/banner_slider_2.jpg">
				<div class="banner-slider-text">
					<h1>{config.cf_title} EVENT!</h1>
					<p>Lorem ipsum dulor sit amet, consectetur sequi ex quam sunt delectus adipisicing elft.<br>Veniam aut tempore illum, dulor nemo quae nulla.</p>
				</div>
			</a>
			<!--{* Main Banner Slider 두번째 끝 *}-->
		</article>
		<article class="item">
			<!--{* Main Banner Slider 세번째 시작 // 링크 설정, 이미지와 문구를 수정하세요. *}-->
			<a href="#">
				<img src="../image/banner_slider/banner_slider_3.jpg">
				<div class="banner-slider-text">
					<h1>{config.cf_title} NOTICE!</h1>
					<p>Lorem ipsum dulor sit amet, consectetur sequi ex quam sunt delectus adipisicing elft.<br>Veniam aut tempore illum, dulor nemo quae nulla.</p>
				</div>
			</a>
			<!--{* Main Banner Slider 세번째 끝 *}-->
		</article>
	</div>
</div>
<!--{* ------------- Main Banner Slider 영역 끝 ------------- *}-->

<!--{* ------------- Tab Latest Text 영역 시작 ------------- *}-->
<div class="main-tab tab-latest-text-padding margin-bottom-20">
    <div class="tab-e2">
        <ul class="nav nav-tabs">
	        <!--{* 아래 게시판명을 수정하세요. *}-->
            <li class="active"><a href="#main-tlt-1" data-toggle="tab">게시판명</a></li>
            <li><a href="#main-tlt-2" data-toggle="tab">게시판명</a></li>
            <li><a href="#main-tlt-3" data-toggle="tab">게시판명</a></li>
            <li class="last"><a href="#main-tlt-4" data-toggle="tab">게시판명</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade active in" id="main-tlt-1">
                <div class="tab-content-wrap">
	                <!--{* 아래 bo_table=게시판id 설정 *}-->
                    {latest->latest_eyoom('tab_latest_text','bo_table=게시판id||count=10||cut_subject=50')}
                </div>
            </div>
            <div class="tab-pane fade in" id="main-tlt-2">
                <div class="tab-content-wrap">
	                <!--{* 아래 bo_table=게시판id 설정 *}-->
                    {latest->latest_eyoom('tab_latest_text','bo_table=게시판id||count=10||cut_subject=50')}
                </div>
            </div>
            <div class="tab-pane fade in" id="main-tlt-3">
                <div class="tab-content-wrap">
	                <!--{* 아래 bo_table=게시판id 설정 *}-->
                    {latest->latest_eyoom('tab_latest_text','bo_table=게시판id||count=10||cut_subject=50')}
                </div>
            </div>
            <div class="tab-pane fade in" id="main-tlt-4">
                <div class="tab-content-wrap">
	                <!--{* 아래 bo_table=게시판id 설정 *}-->
                    {latest->latest_eyoom('tab_latest_text','bo_table=게시판id||count=10||cut_subject=50')}
                </div>
            </div>
        </div>
    </div>
</div>
<!--{* ------------- Tab Latest Text 영역 끝 ------------- *}-->

<!--{* ------------- Tab Latest Image 영역 시작 ------------- *}-->
<div class="main-tab tab-latest-image-padding margin-bottom-20">
    <div class="tab-e2">
        <ul class="nav nav-tabs">
	        <!--{* 아래 게시판명을 수정하세요. *}-->
            <li class="active"><a href="#main-tli-1" data-toggle="tab">게시판명</a></li>
            <li><a href="#main-tli-2" data-toggle="tab">게시판명</a></li>
            <li><a href="#main-tli-3" data-toggle="tab">게시판명</a></li>
            <li class="last"><a href="#main-tli-4" data-toggle="tab">게시판명</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade active in" id="main-tli-1">
                <div class="tab-content-wrap">
	                <!--{* 아래 bo_table=게시판id 설정 *}-->
                    {latest->latest_eyoom('tab_latest_image','bo_table=게시판id||count=10||cut_subject=50||img_view=y||bo_direct=n||img_width=300')}
                </div>
            </div>
            <div class="tab-pane fade in" id="main-tli-2">
                <div class="tab-content-wrap">
	                <!--{* 아래 bo_table=게시판id 설정 *}-->
                    {latest->latest_eyoom('tab_latest_image','bo_table=게시판id||count=10||cut_subject=50||img_view=y||bo_direct=n||img_width=300')}
                </div>
            </div>
            <div class="tab-pane fade in" id="main-tli-3">
                <div class="tab-content-wrap">
	                <!--{* 아래 bo_table=게시판id 설정 *}-->
                    {latest->latest_eyoom('tab_latest_image','bo_table=게시판id||count=10||cut_subject=50||img_view=y||bo_direct=n||img_width=300')}
                </div>
            </div>
            <div class="tab-pane fade in" id="main-tli-4">
                <div class="tab-content-wrap">
	                <!--{* 아래 bo_table=게시판id 설정 *}-->
                    {latest->latest_eyoom('tab_latest_image','bo_table=게시판id||count=10||cut_subject=50||img_view=y||bo_direct=n||img_width=300')}
                </div>
            </div>
        </div>
    </div>
</div>
<!--{* ------------- Tab Latest Image 영역 끝 ------------- *}-->

<!--{* ------------- Basic 최신글 영역 시작 ------------- *}-->
<div class="row margin-bottom-20">
    <div class="col-sm-6 md-margin-bottom-20">
		<!--{* 아래 title=게시판명, bo_table=게시판id 설정 *}-->
	    {latest->latest_eyoom('basic','title=게시판명||bo_table=게시판id||count=10||cut_subject=50')}

    </div>

    <div class="col-sm-6 md-margin-bottom-20">
	    <!--{* 아래 title=게시판명, bo_table=게시판id 설정 *}-->
	    {latest->latest_eyoom('basic','title=게시판명||bo_table=게시판id||count=10||cut_subject=50')}

    </div>
</div>
<!--{* ------------- Basic 최신글 영역 끝 ------------- *}-->

<!--{* ------------- Webzine 최신글 영역 시작 ------------- *}-->
<div>
	<!--{* 아래 title=게시판명, bo_table=게시판id 설정 *}-->
	{latest->latest_eyoom('webzine','title=게시판명||bo_table=게시판id||count=4||cut_subject=50||img_view=y||img_width=300||content=y||cut_content=100')}
</div>
<!--{* ------------- Webzine 최신글 영역 끝 ------------- *}-->