<?php if (!defined('_GNUBOARD_')) exit; ?>

<!--{* 전체검색 시작 *}-->
<div class="search-result">
	<form name="fsearch" onsubmit="return fsearch_submit(this);" method="get" class="eyoom-form">
	<input type="hidden" name="srows" value="{_srows}">
	<div class="row">
		<section class="col col-3">
			<label class="select">
				<select name="gr_id" id="gr_id" class="form-control">
			        <option value="">전체그룹</option>
					<!--{@ _sel_group}-->
					<option value='{.gr_id}'>{.gr_subject}</option>
					<!--{/}-->
				</select>
				<i></i>
			</label>
		</section>
	    <script>document.getElementById("gr_id").value = "{_gr_id}";</script>
	    <section class="col col-3">
		    <label for="sfl" class="sound_only">검색조건</label>
			<label class="select">
			    <select name="sfl" id="sfl" class="form-control">
			        <option value="wr_subject||wr_content" {=get_selected(_GET['sfl'], "wr_subject||wr_content")}>제목+내용</option>
			        <option value="wr_subject" {=get_selected(_GET['sfl'], "wr_subject")}>제목</option>
			        <option value="wr_content" {=get_selected(_GET['sfl'], "wr_content")}>내용</option>
			        <option value="mb_id" {=get_selected(_GET['sfl'], "mb_id")}>회원아이디</option>
			        <option value="wr_name" {=get_selected(_GET['sfl'], "wr_name")}>이름</option>
			    </select>
				<i></i>
			</label>
	    </section>
	    <section class="col col-3">
		    <div class="input-group">
		        <label for="stx" class="sound_only">검색어<strong class="sound_only"> 필수</strong></label>
		        <label class="input">
		        	<input type="text" name="stx" value="{_text_stx}" id="stx" required required class="form-control" maxlength="20">
		        </label>
		        <span class="input-group-btn">
		            <button class="btn btn-default btn-e-group" type="submit" value="검색">검색</button>
		        </span>
		    </div>
	    </section>
	    <section class="col col-3 inline-group">
		    <label for="sop_or" class="radio"><input type="radio" value="or" {? _sop=='or'}checked{/} id="sop_or" name="sop"><i class="rounded-x"></i>OR</label>
		    <label for="sop_and" class="radio"><input type="radio" value="and" {? _sop=='and'}checked{/} id="sop_and" name="sop"><i class="rounded-x"></i>AND</label>
	    </section>
	    <script>
	    function fsearch_submit(f)
	    {
	        if (f.stx.value.length < 2) {
	            alert("검색어는 두글자 이상 입력하십시오.");
	            f.stx.select();
	            f.stx.focus();
	            return false;
	        }

	        // 검색에 많은 부하가 걸리는 경우 이 주석을 제거하세요.
	        var cnt = 0;
	        for (var i=0; i<f.stx.value.length; i++) {
	            if (f.stx.value.charAt(i) == ' ')
	                cnt++;
	        }

	        if (cnt > 1) {
	            alert("빠른 검색을 위하여 검색어에 공백은 한개만 입력할 수 있습니다.");
	            f.stx.select();
	            f.stx.focus();
	            return false;
	        }

	        f.action = "";
	        return true;
	    }
	    </script>
	</div>
	</form>

	<div class="margin-bottom-10"></div>

	<!--{? _stx}-->
		<!--{? _board_count}-->
    <section class="margin-bottom-20">
		<div class="alert alert-warning padding-all-10">
			<h6><strong class="color-red">{_stx}</strong> 전체검색 결과</h6>
			게시판 -<strong> {_board_count}</strong> 개 |
			게시물 -<strong> {=number_format(_total_count)}</strong> 개
			<small class="pull-right">{=number_format(_page)} / {=number_format(_total_page)} 페이지 열람 중</small>
		</div>
    </section>
		<!--{/}-->
    <!--{/}-->

	<!--{? _stx}-->
		<!--{? _board_count //#2}-->
	<section class="tab-e1">
		<ul class="nav nav-tabs">
	        <li class="active"><a href="?{_search_query}&amp;gr_id={_gr_id}" {_sch_all}>전체게시판</a></li>
	        {_str_board_list}
		</ul>
	</section>
		<!--{:}-->
    <div class="text-center margin-bottom-10">검색된 자료가 하나도 없습니다.</div>
		<!--{/}-->
    <!--{/}-->

    <div class="margin-bottom-20"></div>

    <!--{? _stx && _board_count}--><section class="search-result-list"><!--{/}-->
	<!--{@ loop}-->
        <h5>
	        <a href="./board.php?bo_table={.bo_table}&amp;{_search_query}">
		        <strong><i class="fa fa-search"></i> <span class="color-red">{.bo_subject}</span> 게시판 내 결과</strong>
		    </a>
	    </h5>
        <ul class="list-unstyled result-list">
        <!--{@ list}-->
            <li>
                <h6 class="font-size-12">
	                <a href="{..href}{..comment_href}"><strong>{..comment_def}{..subject}</strong></a>
	                <a href="{..href}{..comment_href}" target="_blank" class="font-size-14 pull-right tooltips" data-placement="top" data-toggle="tooltip" data-original-title="새창"><i class="fa fa-external-link"></i></a>
	            </h6>
	            <div class="clearfix"></div>
                <p class="font-size-12">{..content}</p>
                <p class="color-light-grey font-size-11 margin-bottom-0"><i class="fa fa-user"></i> {..name} <i class="fa fa-clock-o"></i> {..wr_datetime}</p>
            </li>
        <!--{/}-->
        </ul>
        <div class="text-right"><a href="./board.php?bo_table={.bo_table}&amp;{_search_query}" class="btn-e btn-e-dark btn-e-sm"><strong>{.bo_subject}</strong> 결과 더보기</a></div>
    <!--{:}-->
		<!--{? _stx && _board_count}-->
		</section>
		<!--{/}-->
    <!--{/}-->

    {=eb_paging('basic')}

</div>

<style>
.search-result {font-size:12px}
.search-result .eyoom-form .inline-group .radio {margin-right:10px}
.search-result .tab-e1 .nav-tabs a {font-size:12px}
.search-result .tab-e1 .nav-tabs {border-bottom:1px solid #555}
.search-result .tab-e1 .nav-tabs > .active > a,.search-result .tab-e1 .nav-tabs > .active > a:hover,.search-result .tab-e1 .nav-tabs > .active > a:focus {background:#555}
.search-result .tab-e1 .nav-tabs > li > a:hover {background:#555}
.search-result .tab-e1 .sch_on {color:#e33334}@media (max-width: 767px){.search-result .tab-e1 .nav-tabs{border:1px solid #ddd;padding:7px;background:#fafafa}}
.search-result-list .result-list li {padding:10px 0;border-bottom:1px dotted #ddd}
.search-result-list .result-list li:hover {background:#fafafa}
.search-result-list .result-list li:first-child {border-top:1px dotted #ddd}
.search-result-list .sch_word {color:#ff2a00}
</style>
<!--{* 전체검색 끝 *}-->