/* 여기에 작업 또는 수정할 당신의 css style을 설정하세요. (customizations) */


@media (max-width:1024px)
{
    .headline a img {width: 940px;}
}
/* 세로 방향 타블렛부터 가로 방향 타블렛과 데스크탑까지 미패드 세로 적용됨*/
@media (min-width: 768px) and (max-width: 979px){
    .headline a img {width: 720px;}
}
/* 가로 방향 전화기부터 세로 방향 타블렛까지 */
@media (max-width:767px) {
    .headline a img {width: 610px;}
}

/* 가로 방향 전화기 이하 */
@media (max-device-width: 480px) {
    .headline a img {width: 330px;height: 45px;}
    /*.header-title .header-logo {height:100px;margin: 0;}
    .header-title .navbar-brand img {margin-bottom: 5px;height:90px;max-width: 100%;}*/
}
