<?php if (!defined('_GNUBOARD_')) exit; ?>

<div class="footer-latest-wrap">
	<ul class="list-unstyled footer-latest">
	<!--{@ loop}-->
        <li>
            <a href="{.href}">{.wr_subject}</a>
            <small><i class="fa fa-clock-o {? .new}color-red{/}"></i> {eb->date_time('Y-m-d H:i',.datetime)}<!--{? .wr_comment}-->&nbsp;&nbsp;&nbsp;<i class="fa fa-comments-o"></i> <span class="color-red">{.wr_comment}</span><!--{/}--></small>
        </li>
	<!--{:}-->
		<p class="text-center">최신글이 없습니다.</p>
	<!--{/}-->
	</ul>
</div>

<style>
.footer-latest-wrap .footer-latest {margin-bottom:0}
.footer-latest-wrap .footer-latest li {padding:12px 0px}
.footer-latest-wrap .footer-latest li:first-child {padding-top:0 !important;border-top:none !important}
.footer-latest-wrap .footer-latest li a {font-size:12px;margin-bottom:3px;display:block;overflow:hidden;white-space:nowrap;word-wrap:normal;text-overflow:ellipsis}
.footer-latest-wrap .footer-latest li small {display:block}
.footer.footer-light .footer-latest-wrap .footer-latest li {border-top:dotted 1px #ddd}
.footer.footer-light .footer-latest-wrap .footer-latest li a {color:#777}
.footer.footer-light .footer-latest-wrap .footer-latest a:hover {color:#000;text-decoration:underline}
.footer.footer-light .footer-latest-wrap .footer-latest li small {color:#555}
.footer.footer-dark .footer-latest-wrap .footer-latest li {border-top:solid 1px #333}
.footer.footer-dark .footer-latest-wrap .footer-latest li a {color:#888}
.footer.footer-dark .footer-latest-wrap .footer-latest a:hover {color:#bbb}
.footer.footer-dark .footer-latest-wrap .footer-latest li small {color:#666}
</style>