<?php if (!defined('_GNUBOARD_')) exit; ?>

<!--{* 장바구니 시작 *}-->
<div class="shop-cart">
	<form name="frmcartlist" id="sod_bsk_list" method="post" action="{_cart_action_url}" class="eyoom-form">
	<!--{? C.G5_IS_MOBILE}-->
	<p class="text-right font-size-11 margin-bottom-5 color-grey">Note! 좌우 스크롤 (<i class="fa fa-arrows-h"></i>)</p>
	<!--{/}-->
	<div class="table-list-eb margin-bottom-20">
	    <div class="table-responsive">
	        <table class="table table-bordered">
	            <thead>
	                <tr>
			            <th>상품이미지</th>
			            <th>상품명</th>
			            <th>총수량</th>
			            <th>판매가</th>
			            <th>소계</th>
			            <th>포인트</th>
			            <th>배송비</th>
			            <th>
			                <label for="ct_all" class="sound_only">상품 전체</label>
			                <label class="checkbox">
			                	<input type="checkbox" name="ct_all" value="1" id="ct_all" checked="checked"><i></i>
			                </label>
			            </th>
	                </tr>
	            </thead>
	            <tbody>
		            <!--{@ list}-->
		            <tr>
			            <td class="sod-img"><a href="./item.php?it_id={.it_id}">{.image}</a></td>
			            <td>
			                <input type="hidden" name="it_id[{.key_}]" value="{.it_id}">
			                <input type="hidden" name="it_name[{.key_}]" value="{=get_text(.row_it_name)}">
							<div class="text-left"><a href="./item.php?it_id={.it_id}"><strong>{=stripslashes(.it_name)}</strong></a></div>
							<!--{? .it_options}-->
							<div class="sod-opt">{.it_options}</div>
							<div class="text-left"><button type="button" class="btn-e btn-e-dark btn-e-xs mod_options">선택사항수정</button></div>
							<!--{/}-->
			            </td>
			            <td>{=number_format(.sum_qty)}</td>
			            <td>{=number_format(.ct_price)}</td>
			            <td><span id="sell_price_{.key_}">{=number_format(.sell_price)}</span></td>
			            <td>{=number_format(.point)}</td>
			            <td>{.ct_send_cost}</td>
			            <td>
			                <label for="ct_chk_{.key_}" class="sound_only">상품</label>
			                <label class="checkbox">
			                	<input type="checkbox" name="ct_chk[{.key_}]" value="1" id="ct_chk_{.key_}" checked="checked"><i></i>
			                </label>
			            </td>
		            </tr>
		            <!--{/}-->
		            <!--{? _count == 0}-->
		            <tr><td colspan="8" class="text-center">장바구니에 담긴 상품이 없습니다.</td></tr>
		            <!--{/}-->
		            </tr>
	            </tbody>
	        </table>
	    </div>
	</div>

	<!--{? _tot_price > 0 || _send_cost > 0}-->
    <div class="sod-bsk-tot">
        <!--{? _send_cost > 0 // 배송비가 0 보다 크다면 (있다면)}-->
        <p class="pull-left">배송비</p>
        <p class="pull-right color-white"><strong>{=number_format(_send_cost)} 원</strong></p>
        <div class="clearfix"></div>
        <!--{/}-->

		<!--{? _tot_price > 0}-->
		<div class="sod-bsk-tot-in">
	        <span class="pull-left color-black"><strong>총계 가격 / 포인트</strong></span>
	        <span class="pull-right color-red-t"><strong>{=number_format(_tot_price)} 원 / {=number_format(_tot_point)} 점</strong></span>
			<div class="clearfix"></div>
		</div>
        <!--{/}-->
    </div>
    <!--{/}-->

    <div class="text-center">
		<!--{? _count == 0}-->
        <a href="{C.G5_SHOP_URL}/" class="btn-e btn-e-green">쇼핑 계속하기</a>
        <!--{:}-->
        <input type="hidden" name="url" value="./orderform.php">
        <input type="hidden" name="records" value="{_count}">
        <input type="hidden" name="act" value="">
        <a href="{C.G5_SHOP_URL}/list.php?ca_id={_continue_ca_id}" class="btn-e btn-e-default">쇼핑 계속하기</a>
        <button type="button" onclick="return form_check('buy');" class="btn-e btn-e-red">주문하기</button>
        <button type="button" onclick="return form_check('seldelete');" class="btn-e btn-e-dark">선택삭제</button>
        <button type="button" onclick="return form_check('alldelete');" class="btn-e btn-e-dark">비우기</button>
        <!--{? _naverpay_button_js}-->
        <div class="cart-naverpay">{_naverpay_request_js}{_naverpay_button_js}</div>
        <!--{/}-->
        <!--{/}-->
    </div>
	</form>
</div>

<style>
.shop-cart .margin-hrd-5 {height:1px;border-top:1px dotted #536999;margin:5px 0;clear:both}
.shop-cart .color-red-t {color:#ae0000}
.shop-cart .eyoom-form .radio i,.shop-cart .eyoom-form .checkbox i {top:2px}
.shop-cart .table-list-eb .sod-img {width:80px}
.shop-cart .table-list-eb td img {display:block;width:100%;max-width:100%;height:auto}
.shop-cart .sod-opt {color:#777;font-size:12px;padding:8px;text-align:left;display:block;border:dotted 1px #c5c5c5;background:#fbfbfb;margin-top:7px;margin-bottom:10px}
.shop-cart .sod-opt ul {margin:0;padding:0;list-style:none}
.shop-cart .sod-bsk-tot {background:#334773;border:1px solid #1F263B;color:#fff;padding:10px;margin-bottom:30px}
.shop-cart .sod-bsk-tot p {padding:0 10px;margin-bottom:5px;color:#c5cced}
.shop-cart .sod-bsk-tot-in {border:1px solid #1F263B;background:#e1e5fb;padding:8px 10px}
.shop-cart .table-bordered>thead>tr>th, .shop-cart .table-bordered>tbody>tr>th, .shop-cart .table-bordered>tfoot>tr>th, .shop-cart .table-bordered>thead>tr>td, .shop-cart .table-bordered>tbody>tr>td, .shop-cart .table-bordered>tfoot>tr>td {border:1px solid #bacdf8}
.shop-cart .table-list-eb {color:#000}
.shop-cart .table-list-eb .table tbody > tr > td {text-align:center}
.shop-cart .table-list-eb .table tbody > tr > th {background:#e7efff}
.shop-cart .table-list-eb thead {border-top:1px solid #bacdf8;background:#e7efff}
.shop-cart .table-list-eb .table tbody > tr > td {border-top:1px solid #bacdf8}
</style>

<script src="../../../../../../js/shop.js"></script>
<script>
$(function() {
    var close_btn_idx;

    // 선택사항수정
    $(".mod_options").click(function() {
        var it_id = $(this).closest("tr").find("input[name^=it_id]").val();
        var $this = $(this);
        close_btn_idx = $(".mod_options").index($(this));

        $.post(
            "./cartoption.php",
            { it_id: it_id },
            function(data) {
                $("#mod_option_frm").remove();
                $this.after("<div id=\"mod_option_frm\"></div>");
                $("#mod_option_frm").html(data);
                price_calculate();
            }
        );
    });

    // 모두선택
    $("input[name=ct_all]").click(function() {
        if($(this).is(":checked"))
            $("input[name^=ct_chk]").attr("checked", true);
        else
            $("input[name^=ct_chk]").attr("checked", false);
    });

    // 옵션수정 닫기
    $(document).on("click", "#mod_option_close", function() {
        $("#mod_option_frm").remove();
        $(".mod_options").eq(close_btn_idx).focus();
    });
    $("#win_mask").click(function () {
        $("#mod_option_frm").remove();
        $(".mod_options").eq(close_btn_idx).focus();
    });

});

function fsubmit_check(f) {
    if($("input[name^=ct_chk]:checked").size() < 1) {
        alert("구매하실 상품을 하나이상 선택해 주십시오.");
        return false;
    }

    return true;
}

function form_check(act) {
    var f = document.frmcartlist;
    var cnt = f.records.value;

    if (act == "buy")
    {
        if($("input[name^=ct_chk]:checked").size() < 1) {
            alert("주문하실 상품을 하나이상 선택해 주십시오.");
            return false;
        }

        f.act.value = act;
        f.submit();
    }
    else if (act == "alldelete")
    {
        f.act.value = act;
        f.submit();
    }
    else if (act == "seldelete")
    {
        if($("input[name^=ct_chk]:checked").size() < 1) {
            alert("삭제하실 상품을 하나이상 선택해 주십시오.");
            return false;
        }

        f.act.value = act;
        f.submit();
    }

    return true;
}
</script>
<!--{* 장바구니 끝 *}-->