<?php if (!defined('_GNUBOARD_')) exit;
add_stylesheet('<link rel="stylesheet" href="../../../plugins/bootstrap/css/bootstrap.min.css" type="text/css" media="screen">',0);
add_stylesheet('<link rel="stylesheet" href="../../../plugins/font-awesome/css/font-awesome.min.css" type="text/css" media="screen">',0);
add_stylesheet('<link rel="stylesheet" href="../../../css/common.css" type="text/css" media="screen">',0);
add_stylesheet('<link rel="stylesheet" href="../../../css/style.css" type="text/css" media="screen">',0);
add_stylesheet('<link rel="stylesheet" href="./shop_style.css" type="text/css" media="screen">',0);
add_stylesheet('<link rel="stylesheet" href="../../../css/custom.css" type="text/css" media="screen">',0);
?>

<!--{* 쿠폰 내역 시작 *}-->
<div class="shop-coupon">
	<div class="headline"><h6><strong>{g5.title}</strong></h6></div>
	<!--{? C.G5_IS_MOBILE}-->
	<p class="text-right font-size-11 margin-bottom-5 color-grey">Note! 좌우 스크롤 (<i class="fa fa-arrows-h"></i>)</p>
	<!--{/}-->
	<div class="table-list-eb">
	    <div class="table-responsive">
	        <table id="sod_list" class="table table-bordered">
		        <thead>
		            <tr>
			            <th>쿠폰명</th>
			            <th>적용대상</th>
			            <th>할인금액</th>
			            <th>사용기한</th>
			        </tr>
		        </thead>
		        <tbody>
			        <!--{@ list}-->
			        <tr>
			            <td>{.cp_subject}</td>
			            <td>{.cp_target}</td>
			            <td>{.cp_price}</td>
			            <td>{=substr(.cp_start, 0, 10)} ~ {=substr(.cp_end, 0, 10)}</td>
			        </tr>
					<!--{:}-->
					<tr><td colspan="4" class="text-center">사용할 수 있는 쿠폰이 없습니다.</td></tr>
					<!--{/}-->
		        </tbody>
        	</table>
	    </div>
    </div>
    <div class="text-center"><button type="button" onclick="window.close();" class="btn-e btn-e-dark">창닫기</button></div>
</div>
<!--{* 쿠폰 내역 끝 *}-->

<style>
.shop-coupon {padding:15px}
.shop-coupon .table-list-eb {color:#000}
.shop-coupon .table-list-eb .table tbody > tr > td {text-align:center}
</style>