<?php if (!defined('_GNUBOARD_')) exit; ?>

<div class="shop-event">
	<!--{? _is_admin}-->
	<div class="text-right margin-bottom-20">
		<a href="{C.G5_ADMIN_URL}/shop_admin/itemeventform.php?w=u&amp;ev_id={ev.ev_id}" class="btn-e btn-e-purple">이벤트 관리</a>
	</div>
	<!--{/}-->

	<!--{* 이벤트 시작 *}-->
	<!--{? file_exists(_himg)}-->
	<div id="sev_himg" class="sev_img"><img class="img-responsive" src="{C.G5_DATA_URL}/event/{_ev_id}_h" alt=""></div>
	<!--{/}-->

	<!--{* 상단 HTML *}-->
	<div id="sev_hhtml" class="margin-top-10 margin-bottom-30">{=conv_content(ev.ev_head_html, 1)}</div>

	{# list_sort_bs}

	<!--{? file_exists(_list_file)}-->
	    {list->set_view('it_img', true)}
	    {list->set_view('it_id', false)}
	    {list->set_view('it_name', true)}
	    {list->set_view('it_cust_price', false)}
	    {list->set_view('it_price', true)}
	    {list->set_view('it_icon', true)}
	    {list->set_view('sns', true)}
	    {list->run()}
	<!--{:}-->
	<div class="text-center"><i class="fa fa-exclamation-circle"></i> {ev.ev_skin} 파일을 찾을 수 없습니다.<br>관리자에게 알려주시면 감사하겠습니다.</div>
	<!--{/}-->

	{=eb_paging('basic')}

	<!--{* 하단 HTML *}-->
	<div id="sev_thtml" class="margin-top-10">{=conv_content(ev.ev_tail_html, 1)}</div>

	<!--{? file_exists(_timg)}-->
	<div id="sev_timg" class="sev_img"><img class="img-responsive" src="{C.G5_DATA_URL}/event/{_ev_id}_t" alt=""></div>
	<!--{/}-->
	<!--{* 이벤트 끝 *}-->

	<script>
	var itemlist_ca_id = "{_ev_id}";
	</script>
	<script src="../../../../../../js/shop.list.js"></script>
</div>

<style>
.shop-event {position:relative;overflow:hidden}
</style>