<?php if (!defined('_GNUBOARD_')) exit; // 개별 페이지 접근 불가

add_stylesheet('<link rel="stylesheet" href="../../../plugins/bootstrap/css/bootstrap.min.css" type="text/css" media="screen">',0);
add_stylesheet('<link rel="stylesheet" href="../../../plugins/font-awesome/css/font-awesome.min.css" type="text/css" media="screen">',0);
add_stylesheet('<link rel="stylesheet" href="../../../plugins/eyoom-form/css/eyoom-form.min.css" type="text/css" media="screen">',0);
add_stylesheet('<link rel="stylesheet" href="./plugins/owl-carousel/owl-carousel/owl.carousel.css" type="text/css" media="screen">',0);
add_stylesheet('<link rel="stylesheet" href="../../../css/common.css" type="text/css" media="screen">',0);
add_stylesheet('<link rel="stylesheet" href="../../../css/style.css" type="text/css" media="screen">',0);
add_stylesheet('<link rel="stylesheet" href="./shop_style.css" type="text/css" media="screen">',0);
add_stylesheet('<link rel="stylesheet" href="../../../css/custom.css" type="text/css" media="screen">',0);

?>

<?php
// ------------- 테마 디자인 설정 옵션 시작 ------------- //

/**
 * Design Layout 종류 : wide or boxed
 */
{layout} = 'wide';

/**
 * Design Color 종류 : white or black
 */
{color} = 'white';

/**
 * Mega Menu 설정 : yes or no
 */
{is_megamenu} = 'no';

/**
 * Side Sticky 설정 : yes or no
 */
{is_side_sticky} = 'no';

/**
 * Header Slider 설정 : yes or no
 */
{is_slider} = 'no';

/**
 * Logo Type 종류 : image or text
 */
{logo} = 'image';

/**
 * Header Banner 종류 : image or text
 */
{hbanner} = 'text';

/**
 * Item View 종류 : zoom or slider
 */
{item_view} = 'slider';

// ------------- 테마 디자인 설정 옵션 끝 ------------- //
?>

<div class="wrapper">
	<!--{? layout == 'wide'}-->
	<div class="header-fixed basic-layout">
	<!--{: layout == 'boxed'}-->
	<div class="header-fixed boxed-layout container">
	<!--{/}-->
	    <!--{* Header Topbar *}-->
	    <div class="header-topbar">
	        <div class="container">
	            <div class="row">
	                <div class="col-md-6">
	                    <ul class="list-unstyled topbar-left">
	                        <!--{? !C.G5_IS_MOBILE}-->
	                        <li>
							    <a id="bookmarkme" href="javascript:void(0);" rel="sidebar" title="bookmark this page">북마크</a>
							    <script>
							        $(function() {
							            $("#bookmarkme").click(function() {
							                // Mozilla Firefox Bookmark
							                if ('sidebar' in window && 'addPanel' in window.sidebar) {
							                    window.sidebar.addPanel(location.href,document.title,"");
							                } else if( /*@cc_on!@*/false) { // IE Favorite
							                    window.external.AddFavorite(location.href,document.title);
							                } else { // webkit - safari/chrome
							                    alert('단축키 ' + (navigator.userAgent.toLowerCase().indexOf('mac') != - 1 ? 'Command' : 'CTRL') + ' + D를 눌러 북마크에 추가하세요.');
							                }
							            });
							        });
							    </script>
							</li>
	                        <!--{/}-->
                            <!--{? C.G5_USE_SHOP}-->
                            <!--<li>
                            	<a href="{C.G5_URL}">커뮤니티</a>
	                        </li>-->
                            <!--{/}-->
                            <!--{? _is_member //회원일 경우}-->
							<li class="btn-group">
		                        <a href="#" data-toggle="dropdown">내메뉴</a>
				                <a href="#" data-toggle="dropdown">
				                    <i class="fa fa-caret-down"></i>
				                    <span class="sr-only">Toggle Dropdown</span>
				                </a>
		                        <ul class="dropdown-menu" role="menu">
			                        <li><a href="{C.G5_SHOP_URL}/personalpay.php">개인결제</a></li>
		                            <li><a href="{C.G5_SHOP_URL}/mypage.php">쇼핑몰 마이페이지</a></li>
		                            <li><a href="{C.G5_BBS_URL}/member_confirm.php?url={C.G5_BBS_URL}/register_form.php">정보수정</a></li>
		                        </ul>
		                    </li>
                            <!--{/}-->
							<li class="btn-group">
		                        <a href="#" data-toggle="dropdown">더보기</a>
				                <a href="#" data-toggle="dropdown">
				                    <i class="fa fa-caret-down"></i>
				                    <span class="sr-only">Toggle Dropdown</span>
				                </a>
		                        <ul class="dropdown-menu" role="menu">
		                            <li><a href="{C.G5_SHOP_URL}/listtype.php?type=1">히트상품</a></li>
		                            <li><a href="{C.G5_SHOP_URL}/listtype.php?type=2">추천상품</a></li>
		                            <li><a href="{C.G5_SHOP_URL}/listtype.php?type=3">최신상품</a></li>
		                            <li><a href="{C.G5_SHOP_URL}/listtype.php?type=4">인기상품</a></li>
		                            <li><a href="{C.G5_SHOP_URL}/listtype.php?type=5">할인상품</a></li>
		                            <div class="divider"></div>
		                            <li><a href="{C.G5_BBS_URL}/board.php?bo_table=faq">FAQ</a></li>
		                            <li><a href="{C.G5_BBS_URL}/board.php?bo_table=qa">1:1문의</a></li>
		                            <li><a href="{C.G5_SHOP_URL}/itemuselist.php">사용후기</a></li>
		                            <!--{? !_is_member //비회원일 경우}-->
		                            <li><a href="{C.G5_SHOP_URL}/orderinquiry.php">비회원주문조회</a></li>
		                            <!--{/}-->
		                        </ul>
		                    </li>
                        </ul>
                    </div>

                    <div class="col-md-6">
                        <ul class="list-unstyled topbar-right">
						    <!--{? _is_member //회원일 경우}-->
								<!--{? _is_admin //관리자일 경우}-->
					            <li><a href="{C.G5_ADMIN_URL}">관리자</a></li>
					            <!--{/}-->
					            <li class="tooltips" data-placement="bottom" data-toggle="tooltip" data-original-title="장바구니">
					            	<a href="{C.G5_SHOP_URL}/cart.php"><i class="fa fa-shopping-cart"></i></a>
					            </li>
					            <li class="tooltips" data-placement="bottom" data-toggle="tooltip" data-original-title="위시리스트">
					            	<a href="{C.G5_SHOP_URL}/wishlist.php"><i class="fa fa-heart"></i></a>
					            </li>
					            <li class="tooltips" data-placement="bottom" data-toggle="tooltip" data-original-title="주문/배송조회">
					            	<a href="{C.G5_SHOP_URL}/orderinquiry.php"><i class="fa fa-truck"></i></a>
					            </li>
					            <li><a href="{C.G5_BBS_URL}/logout.php">로그아웃</a></li>
					            <!--{? !C.G5_IS_MOBILE}-->
									<!--{* 쪽지 최신글 *}-->
									{latest->latest_memo('memo_latest','count=8||cut_subject=20||photo=y')}
									<!--{* 내글반응 최신글 *}-->
									{latest->latest_respond('respond_latest','count=8||cut_subject=20||photo=y')}
								<!--{/}-->
					            <!--{: //비회원일 경우}-->
					            <li><a href="{C.G5_BBS_URL}/register.php">회원가입</a></li>
					            <li><a href="{C.G5_BBS_URL}/login.php">로그인</a></li>
				            <!--{/}-->
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--{* End Header Topbar *}-->

        <!--{* Header Title *}-->
	    <div class="header-title">
	        <div class="container">
		        <!--{* ------------- Header Logo 영역 시작 ------------- *}-->
	            <div class="header-logo">
					<!--{? logo == 'text'}-->
					<a class="navbar-brand" href="{C.G5_SHOP_URL}">{config.cf_title}</a>
					<!--{: logo == 'image'}-->
					<!--{* 안내: 출력되는 이미지로고 크기는 167 x 40 픽셀입니다. 선명도 최적화를 위해 334 x 80 픽셀 사이즈로 image 폴더에 업로드 하시길 권합니다. *}-->
					<a class="navbar-brand" href="{C.G5_URL}"><img src="../../../image/site_logo.png" class="img-responsive" alt="{config.cf_title} LOGO"></a>
					<!--{/}-->
	            </div>
	            <!--{* ------------- Header Logo 영역 끝 ------------- *}-->

	            <!--{* ------------- Header Banner 영역 시작 ------------- *}-->
	            <!--{? !C.G5_IS_MOBILE}-->
	            <!--<div class="header-banner pull-right hidden-sm hidden-xs">
		            <div class="header-banner-box">
						&lt;!&ndash;{? hbanner == 'text'}&ndash;&gt;
			            <div class="header-banner-txt">
		            		<a href="#" target="_blank">Header Banner 468x60 이미지 사이즈</a>
			            </div>
			            &lt;!&ndash;{: hbanner == 'image' // 테마 image 폴더에 배너이미지 업로드 후 이미지파일명을 설정하세요.}&ndash;&gt;
			            <div class="header-banner-img">
		            		<a href="#" target="_blank"><img src="../../../image/이미지파일"></a>
			            </div>
			            &lt;!&ndash;{/}&ndash;&gt;
		            </div>
	            </div>-->
	            <!--{/}-->
	            <!--{* ------------- Header Banner 영역 끝 ------------- *}-->
	            <div class="clearfix"></div>
	        </div>
	    </div>
	    <!--{* End Header Title *}-->

        <!--{* Header Nav *}-->
		<!--{? color == 'white'}-->
	    <div class="header-nav nav-background-light header-sticky">
		<!--{: color == 'black'}-->
		<div class="header-nav nav-background-dark header-sticky">
		<!--{/}-->
	        <div class="navbar mega-menu" role="navigation">
	            <div class="container">
	                <div class="menu-container">
	                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
	                        <span class="sr-only">Toggle navigation</span>
	                        <span class="fa fa-align-justify"></span>
	                    </button>
	                    <div class="nav-in-right">
	                        <ul class="menu-icons-list">
	                            <li class="menu-icons">
	                                <i class="menu-icons-style search search-close search-btn fa fa-search"></i>
	                            </li>
	                        </ul>
	                    </div>
	                </div>
	                <div class="menu-container">
	                    <div class="search-open">
							<form name="frmsearch1" action="<?php echo G5_SHOP_URL; ?>/search.php" onsubmit="return search_submit(this);">
							<input type="hidden" name="sfl" value="wr_subject||wr_content">
							<input type="hidden" name="sop" value="and">
							<label for="sch_stx" class="sound_only">검색어<strong class="sound_only"> 필수</strong></label>
	                        <input type="text" name="q" value="<?php echo stripslashes(get_text(get_search_string($q))); ?>" id="sch_str" placeholder="쇼핑몰검색" required class="form-control">
							</form>
							<script>
							function search_submit(f) {
				                if (f.q.value.length < 2) {
				                    alert("검색어는 두글자 이상 입력하십시오.");
				                    f.q.select();
				                    f.q.focus();
				                    return false;
				                }

				                return true;
				            }
							</script>
	                    </div>
	                </div>
	                <div class="collapse navbar-collapse navbar-responsive-collapse">
	                    <div class="menu-container">
	                        <ul class="nav navbar-nav">
	                            <!--{* Home *}-->
		                        <!--<li class="{? defined('_INDEX_')}active{/} home-menu">-->
		                            <!--<a href="{C.G5_SHOP_URL}">HOME</a>-->
		                        <!--</li>-->
		                        <!--{* End Home *}-->

		                        <!--{* Menu *}-->
		                        <!--{? eyoom.use_eyoom_shopmenu == 'n'}-->
		                        	<!--{@ menu}-->
			                        <li class="{? .active}active{/} dropdown">
			                            <a href="{.href}" class="dropdown-toggle" {? C.G5_IS_MOBILE}data-toggle="dropdown"{:}data-hover="dropdown"{/}>
			                                {.ca_name}
			                            </a>
										<!--{@ submenu}-->
						                <!--{? ..key_ == 0}-->
			                            <ul class="dropdown-menu">
			                            <!--{/}-->
			                                <li {? ..active}class="active"{/}>
												<a href="{..href}">{..ca_name}</a>
											</li>
			                            <!--{? ..key_ == .cnt-1}-->
			                            </ul>
			                            <!--{/}-->
										<!--{/}-->
			                        </li>
			                        <!--{/}-->
								<!--{: eyoom.use_eyoom_shopmenu == 'y'}-->
			                        <!--{@ menu}-->
		                            <li class="{? .active}active{/} {? menu.submenu}dropdown{/}">

										<!--lim-fix 2017/10/22-->
										<!--<a href="{.me_link}" target="_{.me_target}" class="dropdown-toggle" {? C.G5_IS_MOBILE && menu.submenu}data-toggle="dropdown"{:}data-hover="dropdown"{/} style="{?.me_name == "SALE"} color:pink {:}  {/}">-->
										<a href="{.me_link}" target="_{.me_target}" class="dropdown-toggle" {? C.G5_IS_MOBILE && menu.submenu}data-toggle="dropdown"{:}data-hover="dropdown"{/} ">
										{.me_name}&nbsp;<!--{? .new}-->&nbsp; <i class="fa fa-check-circle color-red"></i><!--{/}--> <!--{? .me_icon}--><i class="fa {.me_icon}"></i> <!--{/}--> &nbsp;
										</a>


										<!--{@ submenu}-->
						                <!--{? ..index_ == 0}-->
		                                <ul class="dropdown-menu">
			                            <!--{/}-->
		                                    <li class="dropdown-submenu {? ..active}active{/}">
		                                        <a href="{..me_link}" target="_{..me_target}">{..me_name}&nbsp;&nbsp;<!--{? ..new}-->&nbsp;<i class="fa fa-check-circle color-red"></i><!--{/}--><!--{? ..me_icon}--><i class="fa {..me_icon}"></i> <!--{/}--> <!--{? ..sub=='on'}--><i class="fa fa-angle-right sub-caret hidden-sm hidden-xs"></i><i class="fa fa-angle-down sub-caret hidden-md hidden-lg"></i><!--{/}--></a>
												<!--{@ subsub}-->
												<!--{? ...index_ == 0}-->
		                                        <ul class="dropdown-menu {? ...active}active{/}">
			                                    <!--{/}-->
		                                            <li class="dropdown-submenu">
		                                                <a href="{...me_link}" target="_{...me_target}"><!--{? ...me_icon}--><i class="fa {...me_icon}"></i> <!--{/}-->{...me_name}<!--{? ...new}-->&nbsp;<i class="fa fa-check-circle color-red"></i><!--{/}--><!--{? ...sub=='on'}--><i class="fa fa-angle-right sub-caret hidden-sm hidden-xs"></i><i class="fa fa-angle-down sub-caret hidden-md hidden-lg"></i><!--{/}--></a>
		                                            </li>
		                                        <!--{? ...index_ == ...size_-1}-->
		                                        </ul>
												<!--{/}-->
												<!--{/}-->
		                                    </li>
		                                <!--{? ..index_ == ..size_-1}-->
		                                </ul>
			                            <!--{/}-->
										<!--{/}-->
		                            </li>
			                        <!--{/}-->
			                    <!--{/}-->
			                    <!--{* End Menu *}-->

	                            <!--{* Mega Menu *}-->
								<!--{? is_megamenu == 'yes'}-->
	                            <li class="dropdown mega-menu-area">
	                                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
	                                    전체메뉴
	                                </a>
	                                <!--{* ------------- 전체메뉴 영역 시작 (전체메뉴는 사이트 상황에 맞게 직접 수정합니다.) ------------- *}-->
	                                <ul class="dropdown-menu">
	                                    <li>
	                                        <div class="mega-menu-content disable-icons">
	                                            <div class="container">
	                                                <div class="row mega-height">
	                                                    <div class="col-md-2 mega-height-in">
	                                                        <ul class="list-unstyled mega-height-list">
	                                                            <li><h3>전체메뉴 그룹명</h3></li>
	                                                            <li><a href="#"><i class="fa fa-genderless"></i> 게시판명 설정</a></li>
	                                                            <li><a href="#"><i class="fa fa-genderless"></i> 게시판명 설정</a></li>
	                                                            <li><a href="#"><i class="fa fa-genderless"></i> 게시판명 설정</a></li>
	                                                            <li><a href="#"><i class="fa fa-genderless"></i> 게시판명 설정</a></li>
	                                                            <li><a href="#"><i class="fa fa-genderless"></i> 게시판명 설정</a></li>
	                                                        </ul>
	                                                    </div>
	                                                    <div class="col-md-2 mega-height-in">
	                                                        <ul class="list-unstyled mega-height-list">
	                                                            <li><h3>전체메뉴 그룹명</h3></li>
	                                                            <li><a href="#"><i class="fa fa-genderless"></i> 게시판명 설정</a></li>
	                                                            <li><a href="#"><i class="fa fa-genderless"></i> 게시판명 설정</a></li>
	                                                            <li><a href="#"><i class="fa fa-genderless"></i> 게시판명 설정</a></li>
	                                                            <li><a href="#"><i class="fa fa-genderless"></i> 게시판명 설정</a></li>
	                                                            <li><a href="#"><i class="fa fa-genderless"></i> 게시판명 설정</a></li>
	                                                        </ul>
	                                                    </div>
	                                                    <div class="col-md-2 mega-height-in">
	                                                        <ul class="list-unstyled mega-height-list">
	                                                            <li><h3>전체메뉴 그룹명</h3></li>
	                                                            <li><a href="#"><i class="fa fa-genderless"></i> 게시판명 설정</a></li>
	                                                            <li><a href="#"><i class="fa fa-genderless"></i> 게시판명 설정</a></li>
	                                                            <li><a href="#"><i class="fa fa-genderless"></i> 게시판명 설정</a></li>
	                                                            <li><a href="#"><i class="fa fa-genderless"></i> 게시판명 설정</a></li>
	                                                            <li><a href="#"><i class="fa fa-genderless"></i> 게시판명 설정</a></li>
	                                                        </ul>
	                                                    </div>
	                                                    <div class="col-md-2 mega-height-in">
	                                                        <ul class="list-unstyled mega-height-list">
	                                                            <li><h3>전체메뉴 그룹명</h3></li>
	                                                            <li><a href="#"><i class="fa fa-genderless"></i> 게시판명 설정</a></li>
	                                                            <li><a href="#"><i class="fa fa-genderless"></i> 게시판명 설정</a></li>
	                                                            <li><a href="#"><i class="fa fa-genderless"></i> 게시판명 설정</a></li>
	                                                            <li><a href="#"><i class="fa fa-genderless"></i> 게시판명 설정</a></li>
	                                                            <li><a href="#"><i class="fa fa-genderless"></i> 게시판명 설정</a></li>
	                                                        </ul>
	                                                    </div>
	                                                    <div class="col-md-2 mega-height-in">
	                                                        <ul class="list-unstyled mega-height-list">
	                                                            <li><h3>전체메뉴 그룹명</h3></li>
	                                                            <li><a href="#"><i class="fa fa-genderless"></i> 게시판명 설정</a></li>
	                                                            <li><a href="#"><i class="fa fa-genderless"></i> 게시판명 설정</a></li>
	                                                            <li><a href="#"><i class="fa fa-genderless"></i> 게시판명 설정</a></li>
	                                                            <li><a href="#"><i class="fa fa-genderless"></i> 게시판명 설정</a></li>
	                                                            <li><a href="#"><i class="fa fa-genderless"></i> 게시판명 설정</a></li>
	                                                        </ul>
	                                                    </div>
	                                                    <div class="col-md-2 mega-height-in">
	                                                        <ul class="list-unstyled mega-height-list">
	                                                            <li><h3>전체메뉴 그룹명</h3></li>
	                                                            <li><a href="#"><i class="fa fa-genderless"></i> 게시판명 설정</a></li>
	                                                            <li><a href="#"><i class="fa fa-genderless"></i> 게시판명 설정</a></li>
	                                                            <li><a href="#"><i class="fa fa-genderless"></i> 게시판명 설정</a></li>
	                                                            <li><a href="#"><i class="fa fa-genderless"></i> 게시판명 설정</a></li>
	                                                            <li><a href="#"><i class="fa fa-genderless"></i> 게시판명 설정</a></li>
	                                                        </ul>
	                                                    </div>
	                                                </div>
	                                            </div>
	                                        </div>
	                                    </li>
	                                </ul>
	                                <!--{* ------------- 전체메뉴 영역 끝 ------------- *}-->
	                            </li>
	                            <!--{/}-->
	                            <!--{* End Mega Menu *}-->
	                        </ul>
	                    </div>
	                </div><!--{* navbar-collapse *}-->
	            </div>
	        </div>
	        <!--{* End Navbar *}-->
	    </div>
	    <!--{* End Header Nav *}-->

	    <div class="header-sticky-space"></div>

	    <!--{* Quick Menu : 쇼핑몰 오른쪽에 따라다니는 메뉴 *}-->
	    <!--{? defined('_SHOP_')}-->
		<div class="container" style="position:relative;top:0;">
			<div class="quick-menu">
				<ul class="list-unstyled">
					<li>
						<a href="{C.G5_SHOP_URL}/cart.php">
							<i class="fa fa-shopping-cart"></i>
							<span>장바구니</span>
						</a>
					</li>
					<li>
						<a href="{C.G5_SHOP_URL}/wishlist.php">
							<i class="fa fa-heart"></i>
							<span>위시리스트</span>
						</a>
					</li>
					<li>
						<a href="{C.G5_SHOP_URL}/orderinquiry.php">
							<i class="fa fa-truck"></i>
							<span>주문/배송</span>
						</a>
					</li>
					<li class="current-view">
						<div class="quick-carousel">
							<h4>최근 본 상품</h4>
							<div id="quickCarousel" class="carousel slide carousel-e1 item-carousel">
								<div class="carousel-inner">
									<!--{@ _boxtoday}-->
									<div class="item {? .index_==0}active{/}">
										{.img}
									</div>
									<!--{:}-->
									<div class="item active"><p>최근 본 상품이<br>없습니다.</p></div>
									<!--{/}-->
								</div>
								<div class="carousel-arrow clearfix">
									<a class="left carousel-control pull-left" href="#quickCarousel" data-slide="prev">이전</a>
									<a class="right carousel-control pull-right" href="#quickCarousel" data-slide="next">다음</a>
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<!--{/}-->
		<!--{* End quick menu *}-->

	<div class="basic-body container">
		<!--{* Basic Body *}-->
		<!--<div class="basic-body container">-->
		<div class="row">
			<!--{? (defined('_INDEX_') && eyoom.use_main_side_layout == 'y') || (!defined('_INDEX_') && eyoom.use_sub_side_layout == 'y' && subinfo.sidemenu != 'n')}-->
			<!--{? eyoom.pos_side_layout == 'left'}-->
			{# side_bs}
			<!--{/}-->
			<div class="basic-body-main {? eyoom.pos_side_layout == 'left'}right{:}left{/}-main col-md-9">
				<!--{:}-->
				<div class="basic-body-main col-md-12">
					<!--{/}-->

					<!--{? defined('_INDEX_') || defined('_EYOOM_MYPAGE_')}-->
					<!--{* Header Slider *}-->
					<!--{? is_slider == 'yes'}-->
					<div class="header-slider">
						<div id="owl-header-slider" class="owl-carousel owl-theme">
							<div class="item header-slider-bg">
								<!--{* ------------- Header Slider 첫번째 시작 // 이미지와 문구를 수정하세요. ------------- *}-->
								<img src="../../../image/header_slider/slider_1.jpg" class="img-responsive">
								<div class="container">
									<!--{* 아래 문구를 수정하세요. *}-->
									<h1>Welcome to {config.cf_title}</h1>
									<h2>{config.cf_title} 을 방문해 주셔서 감사합니다.</h2>
									<p>Lorem ipsum dulor sit amet.<br>Consectetur adipisicing elft. Harum dolore, sequi ex quam sunt delectus veniam aut tempore illum, dulor nemo quae nulla.<br>Nam perferendis enim quisquam, culpa.</p>

								</div>
								<!--{* ------------- Header Slider 첫번째 끝 ------------- *}-->
							</div>
							<div class="item header-slider-bg">
								<!--{* ------------- Header Slider 두번째 시작 // 이미지와 문구를 수정하세요. ------------- *}-->
								<img src="../../../image/header_slider/slider_2.jpg" class="img-responsive">
								<div class="container">
									<!--{* 아래 문구를 수정하세요. *}-->
									<h1>Have a good time</h1>
									<p><br>Lorem ipsum dulor sit amet.<br>Consectetur adipisicing elft. Harum dolore, sequi ex quam sunt delectus veniam aut tempore illum, dulor nemo quae nulla.<br>Nam perferendis enim quisquam, culpa.</p>
									<div class="text-center margin-top-10">
										<a href="{C.G5_URL}/page/?pid=aboutus" class="btn-e btn-e-yellow btn-e-lg">About Us</a>
									</div>
								</div>
								<!--{* ------------- Header Slider 두번째 끝 ------------- *}-->
							</div>
						</div>
					</div>
					<!--{/}-->
					<!--{* End Header Slider *}-->
					<!--{:}-->
					<!--{* Page Title *}-->
					<div class="board-title">
						<div class="container">
							<h3><i class="fa fa-map-marker"></i> {subinfo.title}</h3>
						</div>
					</div>
					<!--{* End Board Title *}-->
					<!--{/}-->


