<?php if (!defined('_GNUBOARD_')) exit; // 개별 페이지 접근 불가 ?>

<!--{* 메인배너 시작 *}-->
<div id="main_banner">
	{=eyoom_display_banner('메인', 'mainbanner.10.skin.php')}
</div>
<!--{* 메인배너 끝 *}-->

<!--{* ------------- Main Banner Slider 영역 시작 // 767px 이하에서는 안보임 : 이미지 업로드에 맞춰 경로를 설정 ------------- *}-->
<div class="main-banner-slider margin-bottom-30 hidden-xs">
    <div class="owl-navi">
        <a class="owl-btn prev-main-banner"><i class="fa fa-angle-left"></i></a>
        <a class="owl-btn next-main-banner"><i class="fa fa-angle-right"></i></a>
    </div>
	<div class="owl-slider-main-banner">
		<article class="item">
			<!--{* Main Banner Slider 첫번째 시작 // 링크 설정, 이미지와 문구를 수정하세요. *}-->
			<a href="#">
				<img src="../../../image/banner_slider/banner_slider_1.jpg">
				<div class="banner-slider-text">
					<h1>{config.cf_title} OPEN!</h1>
					<p>Lorem ipsum dulor sit amet, consectetur sequi ex quam sunt delectus adipisicing elft.<br>Veniam aut tempore illum, dulor nemo quae nulla.</p>
				</div>
			</a>
			<!--{* Main Banner Slider 첫번째 끝 *}-->
		</article>
		<article class="item">
			<!--{* Main Banner Slider 두번째 시작 // 링크 설정, 이미지와 문구를 수정하세요. *}-->
			<a href="#">
				<img src="../../../image/banner_slider/banner_slider_2.jpg">
				<div class="banner-slider-text">
					<h1>{config.cf_title} EVENT!</h1>
					<p>Lorem ipsum dulor sit amet, consectetur sequi ex quam sunt delectus adipisicing elft.<br>Veniam aut tempore illum, dulor nemo quae nulla.</p>
				</div>
			</a>
			<!--{* Main Banner Slider 두번째 끝 *}-->
		</article>
	</div>
</div>
<!--{* ------------- Main Banner Slider 영역 끝 ------------- *}-->

<!--{* 히트상품 시작 *}-->
<!--{? default.de_type1_list_use}-->
<section class="margin-bottom-10">
    <div class="headline">
        <h5><a href="{C.G5_SHOP_URL}/listtype.php?type=1"><strong>히트상품</strong></a></h5>
    </div>
	{hit_goods->set_view('it_img', true)}
    {hit_goods->set_view('it_id', false)}
    {hit_goods->set_view('it_name', true)}
    {hit_goods->set_view('it_basic', true)}
    {hit_goods->set_view('it_cust_price', true)}
    {hit_goods->set_view('it_price', true)}
    {hit_goods->set_view('it_icon', true)}
    {hit_goods->set_view('sns', true)}
	{hit_goods->run()}
</section>
<!--{/}-->
<!--{* 히트상품 끝 *}-->

<!--{* 추천상품 시작 *}-->
<!--{? default.de_type1_list_use}-->
<section class="margin-bottom-10">
    <div class="headline">
        <h5><a href="{C.G5_SHOP_URL}/listtype.php?type=2"><strong>추천상품</strong></a></h5>
    </div>
    {recommend_goods->set_view('it_id', false)}
    {recommend_goods->set_view('it_name', true)}
    {recommend_goods->set_view('it_basic', true)}
    {recommend_goods->set_view('it_cust_price', true)}
    {recommend_goods->set_view('it_price', true)}
    {recommend_goods->set_view('it_icon', true)}
    {recommend_goods->set_view('sns', true)}
	{recommend_goods->run()}
</section>
<!--{/}-->
<!--{* 추천상품 끝 *}-->

<!--{? 0}-->
<!--{* 메인 페이지 배너1 시작 : 이미지 또는 텍스트를 활용하시기 바랍니다. *}-->
<div class="shop-main-banner hidden-xs margin-bottom-30">
	<div class="row">
		<div class="col-xs-4">
			<a href="#">
				<div class="banner-img">
					<img src="./img/banner_sample.jpg">
					<h3>SHOES<small>SALE EVENT</small></h3>
				</div>
			</a>
		</div>
		<div class="col-xs-4">
			<a href="#">
				<div class="banner-text">
					<h3>CLOTH<small>SALE EVENT</small></h3>
					<i class="fa fa-arrow-right"></i>
				</div>
			</a>
		</div>
		<div class="col-xs-4">
			<a href="#">
				<div class="banner-text">
					<h3>WATCH<small>SALE EVENT</small></h3>
					<i class="fa fa-arrow-right"></i>
				</div>
			</a>
		</div>
	</div>
</div>
<!--{* 메인 페이지 배너1 끝 *}-->
<!--{/}-->

<!--{* 최신상품 시작 *}-->
<!--{? default.de_type3_list_use}-->
<section class="margin-bottom-30">
    <div class="headline">
        <h5><a href="{C.G5_SHOP_URL}/listtype.php?type=3"><strong>최신상품</strong></a></h5>
    </div>
    {new_goods->set_view('it_id', false)}
    {new_goods->set_view('it_name', true)}
    {new_goods->set_view('it_basic', true)}
    {new_goods->set_view('it_cust_price', true)}
    {new_goods->set_view('it_price', true)}
    {new_goods->set_view('it_icon', true)}
    {new_goods->set_view('sns', true)}
	{new_goods->run()}
</section>
<!--{/}-->
<!--{* 최신상품 끝 *}-->

<!--{* 인기상품 시작 *}-->
<!--{? default.de_type3_list_use}-->
<section class="margin-bottom-10">
    <div class="headline">
        <h5><a href="{C.G5_SHOP_URL}/listtype.php?type=4"><strong>인기상품</strong></a></h5>
    </div>
    {popular_goods->set_view('it_id', false)}
    {popular_goods->set_view('it_name', true)}
    {popular_goods->set_view('it_basic', true)}
    {popular_goods->set_view('it_cust_price', true)}
    {popular_goods->set_view('it_price', true)}
    {popular_goods->set_view('it_icon', true)}
    {popular_goods->set_view('sns', true)}
	{popular_goods->run()}
</section>
<!--{/}-->
<!--{* 인기상품 끝 *}-->

<!--{* 할인상품 시작 *}-->
<!--{? default.de_type3_list_use}-->
<section class="margin-bottom-10">
    <div class="headline">
        <h5><a href="{C.G5_SHOP_URL}/listtype.php?type=5"><strong>할인상품</strong></a></h5>
    </div>
    {sale_goods->set_view('it_id', false)}
    {sale_goods->set_view('it_name', true)}
    {sale_goods->set_view('it_basic', true)}
    {sale_goods->set_view('it_cust_price', true)}
    {sale_goods->set_view('it_price', true)}
    {sale_goods->set_view('it_icon', true)}
    {sale_goods->set_view('sns', true)}
	{sale_goods->run()}
</section>
<!--{/}-->
<!--{* 할인상품 끝 *}-->