<?php if (!defined('_GNUBOARD_')) exit;
add_stylesheet('<link rel="stylesheet" href="../../../plugins/bootstrap/css/bootstrap.min.css" type="text/css" media="screen">',0);
add_stylesheet('<link rel="stylesheet" href="../../../plugins/font-awesome/css/font-awesome.min.css" type="text/css" media="screen">',0);
add_stylesheet('<link rel="stylesheet" href="../../../plugins/eyoom-form/css/eyoom-form.min.css" type="text/css" media="screen">',0);
add_stylesheet('<link rel="stylesheet" href="../../../css/common.css" type="text/css" media="screen">',0);
add_stylesheet('<link rel="stylesheet" href="../../../css/style.css" type="text/css" media="screen">',0);
add_stylesheet('<link rel="stylesheet" href="./shop_style.css" type="text/css" media="screen">',0);
add_stylesheet('<link rel="stylesheet" href="../../../css/custom.css" type="text/css" media="screen">',0);
?>

<style>
.shop-product-use-form {padding:15px}
.shop-product-use-form fieldset {padding:0}
.shop-product-use-form .btn {font-size:14px}
.shop-product-use-form .eyoom-form .rating label:hover {color:#f25858}
.shop-product-use-form .eyoom-form .rating input:checked ~ label {color:#e33334}
.shop-product-use-form .tbl_frm01 textarea,.frm_input {border:1px solid #eee;background:#f8f8f8}
/* Smart Editor Style */
.cke_sc {margin-bottom:10px}
.btn_cke_sc {padding:0 10px}
.cke_sc_def {padding:10px;margin-bottom:10px;margin-top:10px}
.cke_sc_def button {padding:3px 15px;background:#53535a;color:#fff;border:none}
</style>

<!--{* 상품문의 쓰기 시작 *}-->
<div class="shop-product-use-form">


    <form name="fitemqa" method="post" action="./itemqaformupdate.php" onsubmit="return fitemqa_submit(this);" autocomplete="off" class="eyoom-form">
    <input type="hidden" name="w" value="{_w}">
    <input type="hidden" name="it_id" value="{_it_id}">
    <input type="hidden" name="iq_id" value="{_iq_id}">

    <div class="tbl_frm01 tbl_wrap">
	    <fieldset>
		    <div class="row">
			    <div class="col col-12">
			    	<div class="headline"><h6><strong>상품문의 쓰기</strong></h6></div>
			    </div>
			    <section class="col col-6">
			        <label for="iq_email" class="sound_only">이메일</label>
		            <label class="input">
		            	<i class="icon-prepend fa fa-envelope-o"></i>
		            	<input type="text" name="iq_email" value="{qa.iq_email}" class="form-control" size="30">
		            	<b class="tooltip tooltip-top-left">이메일을 입력 해 주세요.</b>
		            </label>
			        <div class="note"><strong>Note:</strong> 이메일을 입력하시면 답변 등록 시 답변이 이메일로 전송됩니다.</div>
			    </section>
			    <section class="col col-6">
				        <label for="iq_hp" class="sound_only">휴대폰</label>
			            <label class="input">
			            	<i class="icon-prepend fa fa-phone"></i>
			            	<input type="text" name="iq_hp" value="{qa.iq_hp}" class="form-control" size="20">
							<b class="tooltip tooltip-top-left">휴대폰번호를 입력 해 주세요.</b>
			            </label>
			        <div class="note"><strong>Note:</strong> 휴대폰번호를 입력하시면 답변 등록 시 답변등록 알림이 SMS로 전송됩니다.</div>
			    </section>
			    <div class="col col-12">
			    	<div class="margin-hr-10"></div>
			    </div>
			    <section class="col col-6">
				        <label for="iq_subject" class="sound_only">제목<strong class="sound_only"> 필수</strong></label>
			            <label class="input">
			            	<i class="icon-prepend fa fa-edit"></i>
			            	<input type="text" name="iq_subject" value="{=get_text(qa.iq_subject)}" id="iq_subject" required class="form-control" minlength="2" maxlength="250">
							<b class="tooltip tooltip-top-left">제목을 입력 해 주세요.</b>
			            </label>
			    </section>
			    <section class="col col-6">
				    <label for="iq_secret" class="checkbox"><input type="checkbox" name="iq_secret" id="iq_secret" value="1" {_chk_secret}><i></i>비밀글</label>
			    </section>
			    <div class="col col-12">
			    	<div class="margin-hr-10"></div>
			    </div>
			    <section class="col col-12">
				    {_editor_html}
			    </section>
		    </div>
	    </fieldset>
    </div>

    <div class="margin-hr-10"></div>

    <div class="text-center margin-top-15 margin-bottom-15">
        <input type="submit" value="작성완료" class="btn-e btn-e-red">
        <button type="button" onclick="self.close();" class="btn-e btn-e-dark">닫기</button>
    </div>

    </form>

</div>

<script type="text/javascript">
function fitemqa_submit(f)
{
    {_editor_js}

    return true;
}
</script>
<!--{* 상품문의 쓰기 끝 *}-->