<?php if (!defined('_GNUBOARD_')) exit; ?>

<style>
#shop-product-qa {padding:10px 0}
#shop-product-qa .panel {border:0;border-top:1px solid #d5d5d5;box-shadow:none}
#shop-product-qa .panel:last-child {border-bottom:1px solid #d5d5d5}
#shop-product-qa .panel-group .panel+.panel {margin-top:0}
#shop-product-qa .panel-title {position:relative}
#shop-product-qa .panel-title a {color:#000;background:#fcfcfc}
#shop-product-qa .panel-title .title-subj {font-size:12px;margin-bottom:5px;padding-right:30px}
#shop-product-qa .panel-title .divide {color:#c5c5c5;margin-left:7px;margin-right:7px}
#shop-product-qa .panel-title .indicator {font-size:11px;width:26px;height:16px;line-height:15px;background:#474A5E;border:1px solid #2E3340;text-align:center;color:#fff;position:absolute;top:11px;right:0}
#shop-product-qa .panel-title .indicator.fa-angle-up {background:#FF2900;border:1px solid #DE2600}
#shop-product-qa .panel-heading a {padding:10px 0 8px}
#shop-product-qa .panel-body {padding:15px 0;border-top:1px dotted #d5d5d5}
#shop-product-qa .sit_qaa_done {color:#FF2900}
</style>

<!--{* 상품문의 목록 시작 *}-->
<section>
    <div class="panel-group acc-v1" id="porduct-qa">
	    <!--{@ _item_qa}-->
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#porduct-qa" href="#product_qa_{.key_}">
	                    <p class="title-subj"><strong>{_iq_num}. {.iq_subject}</strong></p>
	                    <div class="pull-left">
	                        <span class="font-size-12 color-grey">
	                        	{.iq_name}<span class="divide">|</span>{.iq_time}
	                        </span>
	                    </div>
			            <span class="list-unstyled font-size-12 pull-right">
				            상태: <strong class="{.iq_style}">{.iq_stats}</strong>
			            </span>
			            <i class="indicator fa fa-angle-down pull-right"></i>
			            <div class="clearfix"></div>
                    </a>
                </div>
            </div>
            <div id="product_qa_{.key_}" class="panel-collapse collapse">
                <div class="panel-body">
	                <p><strong class="color-black margin-right-5">문의</strong> <span class="color-black">-----</span> <span class="font-size-12">{.iq_question // 상품 문의 내용}</span></p>
	                <div class="margin-hr-10"></div>
                    <p><strong class="color-red margin-right-5">답변</strong> <span class="color-red">-----</span> <span class="font-size-12 display-block margin-top-10"><!--{? !.is_secret}-->{.iq_answer // 상품 답변 내용}<!--{:}-->비밀글로 보호된 답변입니다.<!--{/}--></span></p>

					<!--{? _is_admin || (.mb_id == member.mb_id && !.is_answer)}-->
	                <div class="text-right">
	                    <a href="{.link_edit}" class="btn-e btn-e-purple btn-e-xs itemqa_form" onclick="return false;">수정</a>
	                    <a href="{.link_del}" class="btn-e btn-e-dark btn-e-xs">삭제</a>
	                </div>
	                <!--{/}-->
                </div>
            </div>
        </div>
		<!--{:}-->
		<p class="text-center">상품문의가 없습니다.</p>
		<!--{/}-->
    </div>
</section>

{_paging_itemqa}

<div class="text-right margin-top-15">
    <a href="{_itemqa_form}" class="btn-e btn-e-purple" target="_blank"><i class="fa fa-pencil"></i> 상품문의 쓰기</a>
    <a href="{_itemqa_list}" class="btn-e btn-e-dark"><i class="fa fa-search-plus"></i> 더보기</a>
</div>

<script src="../../../../../../js/viewimageresize.js"></script>
<script>
function toggleAngle(e) {
    $(e.target)
        .prev('.panel-heading')
        .find("i.indicator")
        .toggleClass('fa-angle-up fa-angle-down');
}
$('#porduct-qa').on('hidden.bs.collapse', toggleAngle);
$('#porduct-qa').on('shown.bs.collapse', toggleAngle);

$(function(){
    $(".itemqa_form").click(function(){
        window.open(this.href, "itemqa_form", "width=810,height=680,scrollbars=1");
        return false;
    });

    $(".itemqa_delete").click(function(){
        return confirm("정말 삭제 하시겠습니까?\n\n삭제후에는 되돌릴수 없습니다.");
    });

    $(".sit_qa_li_title").click(function(){
        var $con = $(this).siblings(".sit_qa_con");
        if($con.is(":visible")) {
            $con.slideUp();
        } else {
            $(".sit_qa_con:visible").hide();
            $con.slideDown(
                function() {
                    // 이미지 리사이즈
                    $con.viewimageresize2();
                }
            );
        }
    });

    $(".qa_page").click(function(){
        $("#itemqa").load($(this).attr("href"));
        return false;
    });
});

$(window).on("load", function() {
    $(".panel-body").viewimageresize2();
});
</script>
</script>
<!--{* 상품문의 목록 끝 *}-->