<?php if (!defined('_GNUBOARD_')) exit; ?>

<style>
.shop-detail-view .headline {border-bottom:1px solid #000;border-top:0}
.shop-detail-view .headline h5 {border-top:0;border-bottom:1px solid #DE2600}
.shop-detail-view .headline i {color:#DE2600}
.shop-detail-view .headline span {color:#959595}
.shop-product-wrap .tab-e1 .nav-tabs a {font-size:12px}
.shop-product-wrap .tab-e1 .nav-tabs {border-bottom:1px solid #555}
.shop-product-wrap .tab-e1 .nav-tabs > .active > a,.shop-product-wrap .tab-e1 .nav-tabs > .active > a:hover,.shop-product-wrap .tab-e1 .nav-tabs > .active > a:focus {background:#555}
.shop-product-wrap .tab-e1 .nav-tabs > li > a:hover {background:#555}
@media (max-width: 767px){
	.shop-product-wrap .tab-e1 .nav-tabs {border:1px solid #ddd;padding:7px;background:#fafafa}
}
</style>

<div class="shop-detail-view">
	<!--{* 분류 위치 *}-->
	<!--{* HOME > 1단계 > 2단계 ... > 6단계 분류 *}-->
	<!--{? shop->get_navigation()}-->
	<div id="sct_location">
	    <a href='{C.G5_SHOP_URL}/' class="sct_bg">Home</a>
	    {shop->get_navigation()}
	</div>
	<!--{/}-->
	
	<!--{* 상품분류 1 시작 *}-->
	<!--{? shop->listcategory()}-->
	<aside id="sct_ct_1" class="sct_ct">
		<h6><strong><i class="fa fa-align-justify"></i> 현재 상품 분류와 관련된 분류</strong></h6>
		<ul class="list-inline bg-light" style="margin-left:0">
			<!--{@ shop->listcategory()}-->
			<li class="font-size-12"><a href="{.href}">{.ca_name} ({.cnt})</a></li>
			<!--{/}-->
		</ul>
	</aside>
	<!--{/}-->
	<!--{* 상품분류 1 끝 *}-->

	<div class="clearfix">
		<div class="headline">
			<h5><strong><i class="fa fa-ellipsis-v"></i> <span>카테고리 -</span> {shop->get_navigation()}</strong></h5>
			<!--{? _is_admin}--><a href="{C.G5_ADMIN_URL}/shop_admin/itemform.php?w=u&amp;it_id={_it_id}" class="btn-e btn-e-purple pull-right">상품 관리</a><!--{/}-->
		</div>
	</div>

	<!--{* 상품 상세보기 시작 *}-->

	<!--{* 상단 HTML *}-->
	<div id="sit_hhtml">{=conv_content(it.it_head_html, 1)}</div>

	<!--{? _is_orderable}-->
	<script src="../../../../../../js/shop.js"></script>
	<!--{/}-->

	<div class="shop-product-wrap">
		{# item_form_bs // 상품 대표이미지 및 주문관련 폼 : item_form.skin.html}
		{# item_info_bs // 상품상세 내용 : item_info.skin.html}
	</div>

	<!--{* 하단 HTML *}-->
	<div id="sit_thtml">{=conv_content(it.it_tail_html, 1)}</div>

	<!--{* 상품 상세보기 끝 *}-->
</div>