<?php if (!defined('_GNUBOARD_')) exit;
add_stylesheet('<link rel="stylesheet" href="../../../plugins/bootstrap/css/bootstrap.min.css" type="text/css" media="screen">',0);
add_stylesheet('<link rel="stylesheet" href="../../../plugins/font-awesome/css/font-awesome.min.css" type="text/css" media="screen">',0);
add_stylesheet('<link rel="stylesheet" href="../../../plugins/eyoom-form/css/eyoom-form.min.css" type="text/css" media="screen">',0);
add_stylesheet('<link rel="stylesheet" href="../../../css/common.css" type="text/css" media="screen">',0);
add_stylesheet('<link rel="stylesheet" href="../../../css/style.css" type="text/css" media="screen">',0);
add_stylesheet('<link rel="stylesheet" href="./shop_style.css" type="text/css" media="screen">',0);
add_stylesheet('<link rel="stylesheet" href="../../../css/custom.css" type="text/css" media="screen">',0);
?>

<!--{* 상품 추천하기 시작 *}-->
<div class="shop-item-recommend">
	<div class="headline"><h6><strong>{g5.title}</strong></h6></div>
    <form name="fitemrecommend" method="post" action="./itemrecommendmail.php" autocomplete="off" onsubmit="return fitemrecommend_check(this);" class="eyoom-form">
    <input type="hidden" name="token" value="{_token}">
    <input type="hidden" name="it_id" value="{_it_id}">
	<div class="tbl_frm01 tbl_wrap">
	    <fieldset>
		    <section>
	            <label for="to_email" class="label">추천받는 분 E-mail<strong class="sound_only"> 필수</strong></label>
		        <label class="input">
			        <i class="icon-prepend fa fa-envelope-o"></i>
		            <input type="text" name="to_email" id="to_email" required class="form-control" size="51">
		            <b class="tooltip tooltip-top-left">이메일을 입력 해 주세요.</b>
		        </label>
		    </section>
		    <div class="margin-hr-10"></div>
		    <section>
	            <label for="subject" class="label">제목<strong class="sound_only"> 필수</strong></label>
		        <label class="input">
		        	<i class="icon-prepend fa fa-check-circle"></i>
		            <input type="text" name="subject" id="subject" required class="form-control" size="51">
		            <b class="tooltip tooltip-top-left">제목을 입력 해 주세요.</b>
		        </label>
		    </section>
		    <div class="margin-hr-10"></div>
		    <section>
	            <label for="content" class="label margin-left-5">내용<strong class="sound_only"> 필수</strong></label>
				<label class="textarea">
                    <textarea name="content" id="content" required rows="3"></textarea>
                </label>
		    </section>
	    </fieldset>
	</div>
    <div class="text-center margin-bottom-20">
        <input type="submit" id="btn_submit" value="보내기" class="btn-e btn-e-red">
        <a href="javascript:window.close();" type="button" class="btn-e btn-e-dark">창닫기</a>
    </div>
    </form>
</div>

<style>
.shop-item-recommend {padding:15px}
.shop-item-recommend fieldset {padding:0}
.shop-item-recommend .input-group-btn .btn {font-size:14px}
</style>

<script>
function fitemrecommend_check(f)
{
    return true;
}
</script>
<!--{* 상품 추천하기 끝 *}-->