<?php if (!defined('_GNUBOARD_')) exit; ?>

<!--{? file_exists(_list_file)}-->
<section class="margin-bottom-20">
	<div class="headline">
		<h5><strong>{g5.title}</strong></h5>
	</div>
	{list->set_view('it_img', true)}
	{list->set_view('it_id', false)}
	{list->set_view('it_name', true)}
	{list->set_view('it_cust_price', true)}
	{list->set_view('it_price', true)}
	{list->set_view('it_icon', true)}
	{list->set_view('sns', true)}
	{list->run()}
</section>
<!--{:}-->
<div align="center">{_skin} 파일을 찾을 수 없습니다.<br>관리자에게 알려주시면 감사하겠습니다.</div>
<!--{/}-->
{=eb_paging('basic')}