<?php if (!defined('_GNUBOARD_')) exit; ?>

<div class="text-right margin-bottom-10">
    <button type="button" class="sct_lst_view sct_lst_list btn-e btn-e-dark btn-e-xs"><i class="fa fa-list"></i> 리스트뷰</button>
    <button type="button" class="sct_lst_view sct_lst_gallery btn-e btn-e-dark btn-e-xs"><i class="fa fa-th"></i> 갤러리뷰</button>
</div>