<?php if (!defined('_GNUBOARD_')) exit; ?>

<!--{* 상품 정렬 선택 시작 *}-->
<div class="shop-list-sort">
	<section class="tab-e2 margin-bottom-20">
		<ul class="nav nav-tabs">
			<li {? _GET.sort == 'it_sum_qty' && _GET.sortodr == 'desc'}class="active"{: !_GET.sort}class="active"{/}>
				<a href="{_sct_sort_href}it_sum_qty&amp;sortodr=desc">판매많은순</a>
			</li>
			<li {? _GET.sort == 'it_price' && _GET.sortodr == 'asc'}class="active"{/}>
				<a href="{_sct_sort_href}it_price&amp;sortodr=asc">낮은가격순</a>
			</li>
			<li {? _GET.sort == 'it_price' && _GET.sortodr == 'desc'}class="active"{/}>
				<a href="{_sct_sort_href}it_price&amp;sortodr=desc">높은가격순</a>
			</li>
			<li {? _GET.sort == 'it_use_avg' && _GET.sortodr == 'desc'}class="active"{/}>
				<a href="{_sct_sort_href}it_use_avg&amp;sortodr=desc">평점높은순</a>
			</li>
			<li {? _GET.sort == 'it_use_cnt' && _GET.sortodr == 'desc'}class="active"{/}>
				<a href="{_sct_sort_href}it_use_cnt&amp;sortodr=desc">후기많은순</a>
			</li>
			<li {? _GET.sort == 'it_update_time' && _GET.sortodr == 'desc'}class="active"{/}>
				<a href="{_sct_sort_href}it_update_time&amp;sortodr=desc">최근등록순</a>
			</li>
		</ul>
		<div class="tab-bottom-line"></div>
	</section>
</div>
<!--{* 상품 정렬 선택 끝 *}-->

<style>
.shop-list-sort .tab-e2 .nav-tabs li a {background:#f5f5f5}
.shop-list-sort .tab-e2 .nav-tabs li a:hover {background:#e5e5e5;color:#000}
.shop-list-sort .tab-e2 .nav-tabs li.active a {border:1px solid #000;border-top:1px solid #FF2900;background:#fff;z-index:1}
.shop-list-sort .tab-e2 .tab-bottom-line {position:relative;height:1px;background:#000}
@media (max-width: 767px){
	.shop-list-sort .tab-e2 .nav-tabs {border:1px solid #b5b5b5;padding:10px 10px 5px;background:#fafafa}
	.shop-list-sort .tab-e2 .nav-tabs li a {background:#e5e5e5;color:#000;font-size:11px;padding:3px 7px;margin-bottom:5px}
	.shop-list-sort .tab-e2 .nav-tabs li.active a {background:#1C1C26;color:#fff;border:0}
	.shop-list-sort .tab-e2 .tab-bottom-line {display:none}
}
</style>