<?php if (!defined('_GNUBOARD_')) exit; ?>

<!--{* 상품 목록 시작 *}-->
<div class="shop-list">
	<div class="shop-list-navi">
		<!--{? 0}-->
		<div class="pull-left list-navi">
			<a href="{C.G5_SHOP_URL}/">Home</a>
			{shop->get_navigation()}
		</div>
		<!--{/}-->
		<!--{? _is_admin}-->
		<div class="pull-right">
			<a href="{C.G5_ADMIN_URL}/shop_admin/categoryform.php?w=u&amp;ca_id={_ca_id}" class="btn-e btn-e-purple">분류 관리</a>
		</div>
		<!--{/}-->
		<div class="clearfix"></div>
	</div>

	<!--{* 상단 HTML *}-->
	<div id="sct_hhtml" class="margin-bottom-20">{=conv_content(ca.ca_head_html, 1)}</div>

	<!--{* 상품분류 1 시작 *}-->
	<!--{? shop->listcategory()}-->
	<aside class="sct-ct margin-bottom-20">
		<h5><strong>관련 분류</strong></h5>
		<ul class="list-unstyled">
			<!--{@ shop->listcategory()}-->
			<li><a href="{.href}"><span class="label label-dark">{.ca_name} ({.cnt})</span></a></li>
			<!--{/}-->
		</ul>
		<div class="clearfix"></div>
	</aside>
	<!--{/}-->
	<!--{* 상품분류 1 끝 *}-->

	<!--{* 상품 정렬 선택 시작 *}-->
	<section class="tab-e2 margin-bottom-20">
		<ul class="nav nav-tabs">
			<li {? _GET.sort == 'it_update_time' && _GET.sortodr == 'desc'}class="active"{: !_GET.sort}class="active"{/}>
				<a href="{_sct_sort_href}it_update_time&amp;sortodr=desc">최근등록순</a>
			</li>
			<li {? _GET.sort == 'it_sum_qty' && _GET.sortodr == 'desc'}class="active"{/}>
				<a href="{_sct_sort_href}it_sum_qty&amp;sortodr=desc">판매많은순</a>
			</li>
			<li {? _GET.sort == 'it_price' && _GET.sortodr == 'asc'}class="active"{/}>
				<a href="{_sct_sort_href}it_price&amp;sortodr=asc">낮은가격순</a>
			</li>
			<li {? _GET.sort == 'it_price' && _GET.sortodr == 'desc'}class="active"{/}>
				<a href="{_sct_sort_href}it_price&amp;sortodr=desc">높은가격순</a>
			</li>
			<li {? _GET.sort == 'it_use_avg' && _GET.sortodr == 'desc'}class="active"{/}>
				<a href="{_sct_sort_href}it_use_avg&amp;sortodr=desc">평점높은순</a>
			</li>
			<li {? _GET.sort == 'it_use_cnt' && _GET.sortodr == 'desc'}class="active"{/}>
				<a href="{_sct_sort_href}it_use_cnt&amp;sortodr=desc">후기많은순</a>
			</li>
		</ul>
		<div class="tab-bottom-line"></div>
	</section>
	<!--{* 상품 정렬 선택 끝 *}-->

	{_list_package}

	<!--{* 페이지 *}-->
	{=eb_paging('basic')}

	<!--{* 하단 HTML *}-->
	<div id="sct_thtml">{=conv_content(ca.ca_tail_html, 1)}</div>
</div>
<!--{* 상품 목록 끝 *}-->

<style>
.shop-list .shop-list-navi {margin-bottom:20px}
.shop-list .sct_here {color:crimson}
.shop-list .sct_here:before {content:"\f105";font-family:FontAwesome;padding:0 5px;color:#888}
.shop-list .sct_bg:before {content:"\f105";font-family:FontAwesome;padding:0 5px;color:#888}
.shop-list .sct-ct {border:1px solid #d5d5d5;border-left:1px solid #FF2900;background:#fafafa;padding:10px}
.shop-list .sct-ct h5 {font-size:14px;font-weight:bold;padding-bottom:5px;margin-top:0;border-bottom:1px dotted #d5d5d5;color:#DE2600}
.shop-list .sct-ct li {float:left;padding:2px}
.shop-list .tab-e2 .nav-tabs li a {background:#f5f5f5}
.shop-list .tab-e2 .nav-tabs li a:hover {background:#e5e5e5;color:#000}
.shop-list .tab-e2 .nav-tabs li.active a {border:1px solid #000;border-top:1px solid #FF2900;background:#fff;z-index:1}
.shop-list .tab-e2 .tab-bottom-line {position:relative;height:1px;background:#000}
@media (max-width: 767px){
	.shop-list .tab-e2 .nav-tabs {border:1px solid #b5b5b5;padding:10px 10px 5px;background:#fafafa}
	.shop-list .tab-e2 .nav-tabs li a {background:#e5e5e5;color:#000;font-size:11px;padding:3px 7px;margin-bottom:5px}
	.shop-list .tab-e2 .nav-tabs li.active a {background:#1C1C26;color:#fff;border:0}
	.shop-list .tab-e2 .tab-bottom-line {display:none}
}
</style>

<script>
var itemlist_ca_id = "{_ca_id}";
</script>
<script src="../../../../../../js/shop.list.js"></script>