<?php if (!defined('_GNUBOARD_')) exit; ?>

<div class="shop-mainbanner-10">
    <div class="shop-mainbanner-wrap">
	<!--{@ list}-->
		<!--{? .key_ == 0}-->
		<div class="owl-mainbanner-10 owl-carousel">
		<!--{/}-->
			<div class="item">
		        <!--{? (.bn_url_0 == '#') || (.bn_url && .bn_url != 'http://')}-->
		        <a href="{.bn_href}" {.bn_new_win}>
		        <!--{/}-->
		        	<!--{? .bn_alt}-->
		        	<h5>{.bn_alt}</h5>
		        	<!--{/}-->
					<img src="{C.G5_DATA_URL}/banner/{.bn_id}" {.bn_border}>
	            <!--{? .bn_href}-->
		        </a>
		        <!--{/}-->
			</div>
	<!--{/}-->
	<!--{? count > 0}-->
		</div>
	<!--{/}-->
    </div>
</div>

<style>
.shop-mainbanner-10 .shop-mainbanner-wrap {position:relative;overflow:hidden;margin-bottom:30px;width:100%}
.shop-mainbanner-10 .item img {width:100%;display:block;max-width:100%;height:auto}
.shop-mainbanner-10 .item h5 {position:absolute;top:50%;left:0;right:0;text-align:center;padding:15px;width:60%;margin:-25px auto;font-size:14px;font-weight:bold; color:#000;background:rgba(255, 255, 255, 0.7)}
@media (max-width: 767px) {
	.shop-mainbanner-10 .item h5 {top:40px;width:70%;font-size:12px;padding:7px 12px}
}
.shop-mainbanner-10 .owl-buttons .owl-prev {color:#000;width:24px;height:100%;font-size:16px;cursor:pointer;text-align:center;display:inline-block;opacity:0.8;background:#fff;position:absolute;top:0;left:0;z-index:1;visibility:hidden}
.shop-mainbanner-10 .owl-buttons .owl-next {color:#000;width:24px;height:100%;font-size:16px;cursor:pointer;text-align:center;display:inline-block;opacity:0.8;background:#fff;position:absolute;top:0;right:0;z-index:1;visibility:hidden}
.shop-mainbanner-10 .owl-buttons .owl-prev i, .shop-mainbanner-10 .owl-buttons .owl-next i {position:absolute;top:50%;left:10px;margin-top:-8px}
.shop-mainbanner-10 .owl-buttons .owl-prev:hover, .shop-mainbanner-10 .owl-buttons .owl-next:hover {color:#FF0000;opacity:0.8;background:#171C29;-webkit-transition:all 0.2s ease-in-out;-moz-transition:all 0.2s ease-in-out;-o-transition:all 0.2s ease-in-out;transition:all 0.2s ease-in-out}
.shop-mainbanner-10 .shop-mainbanner-wrap:hover .owl-buttons .owl-prev, .shop-mainbanner-10 .shop-mainbanner-wrap:hover .owl-buttons .owl-next {visibility:visible}
.shop-mainbanner-10 .owl-pagination {position:absolute;width:100%;bottom:5px;text-align:center}
.shop-mainbanner-10 .owl-pagination .owl-page {background:#e5e5e5;width:12px;height:8px;border-radius:8px !important;display:inline-block;margin:0 5px;transition:all 0.3s ease-in-out}
.shop-mainbanner-10 .owl-pagination .owl-page.active {background:#FF2900;width:24px}
.shop-mainbanner-10 #bar {width:0;max-width:100%;height:2px;background:#FF2900}
.shop-mainbanner-10 #progressBar {width:100%;background:#1C1C26}
</style>