<?php if (!defined('_GNUBOARD_')) exit; // ?>

<!--{* 상품진열 40 시작 *}-->
<div class="product-main-40">
    <div class="shop-owl-navi">
        <a class="owl-btn prev-s2"><i class="fa fa-angle-left"></i></a>
        <a class="owl-btn next-s2"><i class="fa fa-angle-right"></i></a>
    </div>
    <div class="owl-slider-wrap">
		<div class="owl-slider-shop2 owl-carousel">
			<!--{@ list}-->
			<div class="item-main-40">
		        <div class="product-img">
			        <!--{? href}-->
		            <a href="{.href}">
			        <!--{/}-->
						{.it_image}
			        <!--{? href}-->
			        </a>
		            <!--{/}-->
					<!--2017.3.28 should be next job-->
		            <!--<div class="product-sns">
			            <ul class="list-inline">
			                &lt;!&ndash;{? view_sns}&ndash;&gt;
			                <li><a href="https://www.facebook.com/sharer/sharer.php?u={.sns_url}&amp;p={.sns_title}" target="_blank" class="facebook-icon"><i class="fa fa-facebook"></i></a></li>
			                &lt;!&ndash;<li><a href="https://twitter.com/share?url={.sns_url}&amp;text={.sns_title}" target="_blank" class="twitter-icon"><i class="fa fa-twitter"></i></a></li>&ndash;&gt;
							<li><a href="javascript:kakaolink_send('{_sns_msg}', '{_longurl}');" data-original-title="Kakao" class="social_kakao"><i class="fa fa-kakao-talk "></i></a></li>

			                <li><a href="https://plus.google.com/share?url={.sns_url}" arget="_blank" class="google-icon"><i class="fa fa-google"></i></a></li>
			                &lt;!&ndash;{/}&ndash;&gt;
			                <li><a href="javascript:item_wish_for_list('{.it_id}');" class="wish-icon"><i class="fa fa-heart"></i></a></li>
			            </ul>
		            </div>-->
		            <!--{? view_it_icon}-->
		            {.it_icon}
		            <!--{/}-->
		        </div>
		        <div class="product-description">
	                <div class="product-description-in">
		                <!--{? href}-->
	                    <h4 class="product-name ellipsis">
		                    <a href="{.href}">
		                <!--{/}-->
		                    <!--{? view_it_name}-->{=stripslashes(.it_name)}<!--{/}-->
		                <!--{? href}-->
		                	</a>
		                </h4>
		                <!--{/}-->

		                <!--{? view_it_cust_price || view_it_price}-->
			            <div class="product-price">
			                <!--{? view_it_price}-->
			                <span class="title-price">₩ {.it_tel_inq}</span>
			                <!--{/}-->
			                <!--{? view_it_cust_price && .it_cust_price}-->
			                <span class="title-price line-through">₩ {.it_cust_price}</span>
			                <!--{/}-->
			            </div>
			            <!--{/}-->

	                    <!--{? view_it_id}-->
	                    <span class="type text-uppercase">{=stripslashes(.it_id)}</span>
	                    <!--{/}-->

	                    <!--{? 0 //상품간략 소개, 앞숫자 0: 미출력, 앞숫자 1: 출력}-->
		                    <!--{? view_it_basic && .it_basic}-->
		                    <span class="type">{=stripslashes(.it_basic)}</span>
		                    <!--{/}-->
	                    <!--{/}-->
		            </div>
		        </div>
	            <div class="product-description-bottom">
		            <a class="pull-left font-size-12" href="{C.G5_SHOP_URL}/itemuselist.php?sfl=a.it_id&stx={.it_id}">리뷰보기</a>
	                <ul class="list-inline product-ratings pull-right">
						<li><i class="rating{? .star_score > 0}-selected fa fa-star{:} fa fa-star-o{/}"></i></li>
						<li><i class="rating{? .star_score > 1}-selected fa fa-star{:} fa fa-star-o{/}"></i></li>
						<li><i class="rating{? .star_score > 2}-selected fa fa-star{:} fa fa-star-o{/}"></i></li>
						<li><i class="rating{? .star_score > 3}-selected fa fa-star{:} fa fa-star-o{/}"></i></li>
						<li><i class="rating{? .star_score > 4}-selected fa fa-star{:} fa fa-star-o{/}"></i></li>
	                </ul>
	                <div class="clearfix"></div>
	            </div>
		    </div>
			<!--{:}-->
			<p class="text-center">등록된 상품이 없습니다.</p>
			<!--{/}-->
		</div>
    </div>
</div>
<!--{* 상품진열 40 끝 *}-->

<style>
.product-main-40 {position:relative;overflow:hidden}
.product-main-40 .shop-owl-navi a.owl-btn {color:#fff;width:24px;height:100px;font-size:16px;cursor:pointer;line-height:100px;text-align:center;display:inline-block;opacity:0.6;background:#171C29;visibility:hidden}
.product-main-40 .shop-owl-navi a.owl-btn:hover {color:#fff;opacity:0.8;background:#FF2900;-webkit-transition:all 0.2s ease-in-out;-moz-transition:all 0.2s ease-in-out;-o-transition:all 0.2s ease-in-out;transition:all 0.2s ease-in-out}
.product-main-40 .shop-owl-navi a.owl-btn.prev-s2 {position:absolute;top:50%;left:0;z-index:1;margin-top:-50px}
.product-main-40 .shop-owl-navi a.owl-btn.next-s2 {position:absolute;top:50%;right:0;z-index:1;margin-top:-50px}
.product-main-40:hover .shop-owl-navi a.owl-btn {visibility:visible}
.product-main-40 .owl-slider-wrap {position:relative;margin-left:-7px;margin-right:-7px}
.product-main-40 .item-main-40 {position:relative;border:1px solid #d5d5d5;-webkit-transition:all 0.2s ease-in-out;-moz-transition:all 0.2s ease-in-out;-o-transition:all 0.2s ease-in-out;transition:all 0.2s ease-in-out;margin:0 7px 20px}
.product-main-40 .item-e1:hover {border:1px solid #0085DA}
.product-main-40 .product-img {position:relative;padding:10px}
.product-main-40 .item-e1:hover .product-img {background:#f8f8f8}
.product-main-40 .product-img img {width:100%;display:block;max-width:100%;height:auto}
.product-main-40 .product-sns {left:0;right:0;top:92%;z-index:1;width:100%;color:#555;border:none;padding:7px 0;font-size:12px;margin-top:-20px;text-align:center;position:absolute;visibility:hidden;text-transform:uppercase;background:#fff;-ms-filter:"progid: DXImageTransform.Microsoft.Alpha(Opacity=95)";filter:alpha(opacity=95);opacity:0.95}
.product-main-40 .product-img:hover .product-sns {visibility:visible}
.product-main-40 .product-sns ul {margin:0}
.product-main-40 .product-sns ul li {padding-left:1px;padding-right:1px}
.product-main-40 .product-sns a {display:inline-block;width:24px;height:24px;line-height:24px;font-size:12px;background:#fff;border:1px solid #d5d5d5}
.product-main-40 .product-sns a.facebook-icon {color:#4862A3}
.product-main-40 .product-sns a.twitter-icon {color:#55ACEE}
.product-main-40 .product-sns a.google-icon {color:#D73D32}
.product-main-40 .product-sns a.wish-icon {color:#FF9400}
.product-main-40 .product-sns a.facebook-icon:hover {background:#4862A3;color:#fff;border:1px solid #4862A3}
.product-main-40 .product-sns a.twitter-icon:hover {background:#55ACEE;color:#fff;border:1px solid #55ACEE}
.product-main-40 .product-sns a.google-icon:hover {background:#D73D32;color:#fff;border:1px solid #D73D32}
.product-main-40 .product-sns a.wish-icon:hover {background:#FF9400;color:#fff;border:1px solid #FF9400}
.product-main-40 .item-e1:hover .product-description-in {background:#f8f8f8}
.product-main-40 .product-description .product-description-in {position:relative;overflow:hidden;padding:0 10px 10px}
.product-main-40 .product-description .product-name {margin:0;margin-bottom:5px}
.product-main-40 .product-description .product-name a {font-size:14px;font-weight:bold;color:#000}
.product-main-40 .product-description .product-name a:hover {color:#DE2600}
.product-main-40 .product-description .title-price {font-size:14px;font-weight:bold;color:#ae0000}
.product-main-40 .product-description .line-through {color:#b5b5b5;text-decoration:line-through;margin-left:7px;font-weight:normal}
.product-main-40 .product-description .type {color:#757575;display:block;font-size:12px;margin-top:8px}
.product-main-40 .product-description-bottom {position:relative;overflow:hidden;padding:7px 10px;border-top:1px solid #d5d5d5}
</style>

<!--{? C.G5_IS_MOBILE //모바일의 경우}-->
<style>
.product-main-40 .owl-slider-wrap {margin-left:-3px;margin-right:-3px}
.product-main-40 .item-main-40 {margin:0 3px 20px}
.product-main-40 .product-img {padding:6px}
.product-main-40 .product-description .product-description-in {padding:0 6px 10px}
.product-main-40 .product-description-bottom {padding:7px 6px}
</style>
<!--{/}-->