<?php if (!defined('_GNUBOARD_')) exit; // ?>

<!--{* 상품진열 50 시작 *}-->
<div class="product-main-50">
	<ul class="list-unstyled clearfix">
		<!--{@ list}-->
		<li>
			<div class="product-main-50-img">
				<!--{? href}-->
	            <a href="{.href}">
		        <!--{/}-->
					{.it_image}
		        <!--{? href}-->
		        </a>
	            <!--{/}-->
				<div class="product-main-50-content">
					<!--{? href}-->
				    <h3>
	                    <a href="{.href}">
	                <!--{/}-->
	                    <!--{? view_it_name}-->{=stripslashes(.it_name)}<!--{/}-->
	                <!--{? href}-->
	                	</a>
				    </h3>
				    <!--{/}-->

					<!--{? 0 //상품간략 소개, 앞숫자 0: 미출력, 앞숫자 1: 출력}-->
					    <!--{? view_it_basic && .it_basic}-->
		                <p>{=stripslashes(.it_basic)}</p>
			            <!--{/}-->
		            <!--{/}-->

		            <!--{? view_it_cust_price || view_it_price}-->
		            <div class="product-main-50-price">
		                <!--{? view_it_price}-->
		                <span class="e3-price">₩ {.it_tel_inq}</span>
		                <!--{/}-->
		                <!--{? view_it_cust_price && .it_cust_price}-->
		                <span class="e3-price line-through">₩ {.it_cust_price}</span>
		                <!--{/}-->
		            </div>
		            <!--{/}-->
				</div>
			</div>
		</li>
		<!--{? .index_==4}-->
	    <div class="clearfix visible-lg"></div>
	    <!--{/}-->
		<!--{:}-->
		<li class="no-item">
			<p class="text-center">등록된 상품이 없습니다.</p>
		</li>
		<!--{/}-->
	</ul>
</div>
<!--{* 상품진열 50 끝 *}-->

<style>
.product-main-50 ul {margin:0 -3px}
.product-main-50 > ul > li {width:50%;float:left;padding:0 3px;margin-bottom:10px}
.product-main-50 > ul > li:last-child {display:none}
.product-main-50-img {text-align:center;position:relative;overflow:hidden}
.product-main-50-img a img {max-width:100%;display:inline-block;height:auto}
.product-main-50-icons ul li a {color:#ccc}
.product-main-50-icons ul li a:hover {color:#fff}
.product-main-50-content {padding:0 5px;background:rgba(256,256,256,0.9)}
.product-main-50-content h3 {text-align:center;display:block;text-overflow:ellipsis;white-space:nowrap;word-wrap:normal;overflow:hidden;font-weight:bold}
.product-main-50-content h3 a {display:inline-block;border-bottom:1px solid #ae0000;font-size:14px}
.product-main-50-content p {margin:0;text-align:center;font-size:12px;display:block;text-overflow:ellipsis;white-space:nowrap;word-wrap:normal;overflow:hidden}
.product-main-50-price {text-align:center}
.product-main-50-price span {color:#aaa;font-size:12px;margin:0 3px}
.product-main-50-price span:first-child {font-weight:bold;color:#ae0000;font-size:14px}
.product-main-50 .no-item {width:100% !important}
.product-main-50 .no-item p{text-align:center;padding:10px 0;border:1px solid #ddd}
@media (min-width:768px){
	.product-main-50 > ul {margin:0 -5px}
	.product-main-50 > ul > li {padding:0 5px}
	.product-main-50-content {position:absolute;bottom:-95px;width:100%;height:95px;-webkit-transition:all 0.3s ease-in-out;-moz-transition:all 0.3s ease-in-out;transition:all 0.3s ease-in-out}
	.product-main-50 > ul > li:hover .product-main-50-content {bottom:0}
}
@media (min-width: 1200px){
	.product-main-50 > ul {margin:0 0 20px}
	.product-main-50 > ul > li {width:25%;float:left;padding:0;margin:0;border-style:solid;border-color:#fff;border-width:1px}
	.product-main-50 > ul > li:last-child {display:block}
	.product-main-50-content {height:75px}
	.product-main-50-content p {display:none}
	.product-main-50 > ul > li:first-child {width:50%}
	.product-main-50 > ul > li:first-child .product-main-50-content {height:75px}
	.product-main-50 > ul > li:first-child .product-main-50-content p {display:block}
}
</style>