<?php
if (!defined('_GNUBOARD_')) exit; // 개별 페이지 접근 불가
if (!defined("_ORDERINQUIRY_")) exit; // 개별 페이지 접근 불가
?>

<!--{* 주문 내역 목록 시작 *}-->
<div class="shop-orderinquiry-sub">
	<!--{? !_limit}-->
	<p><strong>총 {_cnt} 건</strong></p>
	<!--{/}-->
	
	<!--{? C.G5_IS_MOBILE}-->
	<p class="text-right font-size-11 margin-bottom-5 color-grey">Note! 좌우 스크롤 (<i class="fa fa-arrows-h"></i>)</p>
	<!--{/}-->
	<div class="table-list-eb">
	    <div class="table-responsive">
	        <table class="table table-bordered">
		        <thead>
		            <tr>
				        <th>주문서번호</th>
				        <th>주문일시</th>
				        <th>상품수</th>
				        <th>주문금액</th>
				        <th>입금액</th>
				        <th>미입금액</th>
				        <th>상태</th>
		            </tr>
		        </thead>
		        <tbody>
				    <!--{@ list}-->
				    <tr>
				        <td>
				            <input type="hidden" name="ct_id[{.key_}]" value="{.ct_id}">
				            <a href="{.href}">{.od_id}</a>
				        </td>
				        <td>{=substr(.od_time,2,14)}--> ({=get_yoil(.od_time)})</td>
				        <td>{.od_cart_count}</td>
				        <td>{=display_price(.od_price)}</td>
				        <td>{=display_price(.od_receipt_price)}</td>
				        <td>{=display_price(.od_misu)}</td>
				        <td>{.od_status}</td>
				    </tr>
					<!--{:}-->
					<tr><td colspan="7" class="text-center">주문 내역이 없습니다.</td></tr>
					<!--{/}-->
		        </tbody>
	        </table>
	    </div>
	</div>
</div>
<!--{* 주문 내역 목록 끝 *}-->

<style>
.shop-orderinquiry-sub .table-bordered>thead>tr>th, .shop-orderinquiry-sub .table-bordered>tbody>tr>th, .shop-orderinquiry-sub .table-bordered>tfoot>tr>th, .shop-orderinquiry-sub .table-bordered>thead>tr>td, .shop-orderinquiry-sub .table-bordered>tbody>tr>td, .shop-orderinquiry-sub .table-bordered>tfoot>tr>td {border:1px solid #bacdf8}
.shop-orderinquiry-sub .table-list-eb {color:#000}
.shop-orderinquiry-sub .table > thead > tr > th {border:1px solid #bacdf8;vertical-align:middle}
.shop-orderinquiry-sub .table-list-eb .table tbody > tr > td {border:1px solid #bacdf8;vertical-align:middle}
.shop-orderinquiry-sub .table-list-eb .table tbody > tr > th {background:#e7efff}
.shop-orderinquiry-sub .table-list-eb thead {border-top:1px solid #bacdf8;background:#e7efff}
.shop-orderinquiry-sub .table-list-eb .table tbody > tr > td {border-top:1px solid #bacdf8}	
</style>