<?php if (!defined('_GNUBOARD_')) exit; ?>

<style>
.shop-order-inquiry-view .color-red-t {color:#ae0000}
.shop-order-inquiry-view table.order-table tbody td {text-align:center}
.shop-order-inquiry-view .table-list-eb .sod-img {width:80px}
.shop-order-inquiry-view .table-list-eb td img {display:block;width:100%;max-width:100%;height:auto}
.shop-order-inquiry-view .sod-fin-legend {padding:10px;border:1px solid #d5d5d5;text-align:left;zoom:1;display:block;overflow:hidden;background:#fbfbfb;font-size:12px}
.shop-order-inquiry-view .sod-fin-legend dt {clear:both;float:left;margin:2px 0;width:50px;font-weight:bold}
.shop-order-inquiry-view .sod-fin-legend dd {float:left;margin:0}
.shop-order-inquiry-view .sod-bsk-tot {background:#334773;border:1px solid #1F263B;color:#fff;padding:10px;margin-bottom:30px;font-size:12px}
.shop-order-inquiry-view .sod-bsk-tot p {padding:0 10px;margin-bottom:5px;color:#c5cced}
.shop-order-inquiry-view .sod-bsk-tot-in {border:1px solid #1F263B;background:#e1e5fb;padding:8px 10px}
.shop-order-inquiry-view .sod-fin-tot li {border-bottom:1px solid #fff;padding:8px 15px;background:#334773;color:#c5cced}
.shop-order-inquiry-view .table-bordered>thead>tr>th, .shop-order-inquiry-view .table-bordered>tbody>tr>th, .shop-order-inquiry-view .table-bordered>tfoot>tr>th, .shop-order-inquiry-view .table-bordered>thead>tr>td, .shop-order-inquiry-view .table-bordered>tbody>tr>td, .shop-order-inquiry-view .table-bordered>tfoot>tr>td {border:1px solid #bacdf8}
.shop-order-inquiry-view .table-list-eb {color:#000}
.shop-order-inquiry-view .table > thead > tr > th {border:1px solid #bacdf8;vertical-align:middle}
.shop-order-inquiry-view .table-list-eb .table tbody > tr > td {border:1px solid #bacdf8;vertical-align:middle}
.shop-order-inquiry-view .table-list-eb .table tbody > tr > th {background:#e7efff}
.shop-order-inquiry-view .table-list-eb thead {border-top:1px solid #bacdf8;background:#e7efff}
.shop-order-inquiry-view .table-list-eb .table tbody > tr > td {border-top:1px solid #bacdf8}
</style>

<!--{* 주문상세내역 시작 *}-->
<div class="shop-order-inquiry-view">
    <p class="text-right"><span class="label label-yellow margin-right-5">주문번호</span><strong>{_od_id}</strong></p>
    <section class="sod-fin-list">
        <div class="headline"><h5><strong>주문하신 상품</strong></h5></div>
		<!--{? C.G5_IS_MOBILE}-->
		<p class="text-right font-size-11 margin-bottom-5 color-grey">Note! 좌우 스크롤 (<i class="fa fa-arrows-h"></i>)</p>
		<!--{/}-->
		<div class="table-list-eb">
		    <div class="table-responsive">
		        <table class="table table-border order-table">
			        <thead>
			            <tr>
			                <th scope="col" rowspan="2">이미지</th>
			                <th scope="col" colspan="7" id="th_itname">상품명</th>
			            </tr>
			            <tr>
			                <th id="th_itopt">옵션명</th>
			                <th id="th_itqty">수량</th>
			                <th id="th_itprice">판매가</th>
			                <th id="th_itsum">소계</th>
			                <th id="th_itpt">포인트</th>
			                <th id="th_itpt">배송비</th>
			                <th id="th_itst">상태</th>
			            </tr>
			        </thead>
			        <tbody>
			            <!--{@ order}-->
						<!--{@ option}-->
						<!--{? ..key == 0}-->
			            <tr>
			                <td rowspan="2" class="sod-img"><a href="./item.php?it_id={.it_id}">{.image}</a></td>
			                <td headers="th_itname" colspan="7"><a href="./item.php?it_id={.it_id}">{.it_name}</a></td>
			            </tr>
			            <!--{/}-->
			            <tr>
			                <td headers="th_itopt">{=get_text(..ct_option)}</td>
			                <td headers="th_itqty">{=number_format(..ct_qty)}</td>
			                <td headers="th_itprice">{=number_format(..opt_price)}</td>
			                <td headers="th_itsum">{=number_format(..sell_price)}</td>
			                <td headers="th_itpt">{=number_format(..point)}</td>
			                <td headers="th_itpt">{.ct_send_cost}</td>
			                <td headers="th_itst">{..ct_status}</td>
			            </tr>
						<!--{/}-->
						<!--{/}-->
			        </tbody>
		        </table>
		    </div>
		</div>
        <div class="sod-sts-wrap text-right margin-bottom-20">
            <span class="sound_only">상품 상태 설명</span>
            <button type="button" id="sod_sts_explan_open" class="btn-e btn-e-dark btn-e-xs margin-bottom-10">상태설명보기</button>
            <div id="sod_sts_explan">
                <dl class="sod-fin-legend">
                    <dt>주문</dt>
                    <dd>주문이 접수되었습니다.</dd>
                    <dt>입금</dt>
                    <dd>입금(결제)이 완료 되었습니다.</dd>
                    <dt>준비</dt>
                    <dd>상품 준비 중입니다.</dd>
                    <dt>배송</dt>
                    <dd>상품 배송 중입니다.</dd>
                    <dt>완료</dt>
                    <dd>상품 배송이 완료 되었습니다.</dd>
                    <button id="sod_sts_explan_close" class="close" type="button">×</button>
                </dl>
            </div>
        </div>
	    <div class="sod-bsk-tot">
	        <p class="pull-left">주문총액</p>
	        <p class="pull-right color-white"><strong>{=number_format(od.od_cart_price)} 원</strong></p>
	        <div class="clearfix"></div>

			<!--{? od.od_cart_coupon > 0}-->
	        <p class="pull-left">개별상품 쿠폰할인</p>
	        <p class="pull-right color-white"><strong>{=number_format(od.od_coupon)} 원</strong></p>
	        <div class="clearfix"></div>
	        <!--{/}-->
	        <!--{? od.od_send_cost > 0}-->
	        <p class="pull-left">배송비</p>
	        <p class="pull-right color-white"><strong>{=number_format(od.od_send_cost)} 원</strong></p>
	        <div class="clearfix"></div>
	        <!--{/}-->
	        <!--{? od.od_send_coupon > 0}-->
	        <p class="pull-left">배송비 쿠폰할인</p>
	        <p class="pull-right color-white"><strong>{=number_format(od.od_send_coupon)} 원</strong></p>
	        <div class="clearfix"></div>
	        <!--{/}-->
	        <!--{? od.od_send_cost2 > 0}-->
	        <p class="pull-left">추가배송비</p>
	        <p class="pull-right color-white"><strong>{=number_format(od.od_send_cost2)} 원</strong></p>
	        <div class="clearfix"></div>
	        <!--{/}-->
	        <!--{? od.od_cancel_price > 0}-->
	        <p class="pull-left">취소금액</p>
	        <p class="pull-right color-white"><strong>{=number_format(od.od_cancel_price)} 원</strong></p>
	        <div class="clearfix"></div>
	        <!--{/}-->
			<div class="sod-bsk-tot-in">
		        <span class="pull-left color-black"><strong>총계 가격/포인트</strong></span>
		        <span class="pull-right color-red-t"><strong>{=number_format(_tot_price)} 원 / {=number_format(_tot_point)} 점</strong></span>
				<div class="clearfix"></div>
			</div>
	    </div>
    </section>

	<div class="sod-fin-view">
	    <div class="headline"><h5><strong>결제정보</strong></h5></div>
	    <section>
			<!--{? C.G5_IS_MOBILE}-->
			<p class="text-right font-size-11 margin-bottom-5 color-grey">Note! 좌우 스크롤 (<i class="fa fa-arrows-h"></i>)</p>
			<!--{/}-->
			<div class="table-list-eb">
			    <div class="table-responsive">
			        <table class="table table-bordered">
				        <tbody>
			                <tr>
			                    <th>주문번호</th>
			                    <td>{_od_id}</td>
			                </tr>
			                <tr>
			                    <th>주문일시</th>
			                    <td>{od.od_time}</td>
		                	</tr>
			                <tr>
			                    <th>결제방식</th>
			                    <td>{od.od_settle_case}</td>
			                </tr>
			                <tr>
			                    <th>결제금액</th>
			                    <td>{_od_receipt_price}</td>
		                	</tr>
							<!--{? od.od_receipt_price > 0}-->
			                <tr>
			                    <th>결제일시</th>
			                    <td>{od.od_receipt_time}</td>
			                </tr>
							<!--{/}-->

							<!--{? _app_no_subj // 승인번호, 휴대폰번호, 거래번호}-->
			                <tr>
			                    <th>{_app_no_subj}</th>
			                    <td>{_app_no}</td>
			                </tr>
							<!--{/}-->

							<!--{? _disp_bank // 계좌정보}-->
			                <tr>
			                    <th>입금자명</th>
			                    <td>{=get_text(od.od_deposit_name)}</td>
			                </tr>
			                <tr>
			                    <th>입금계좌</th>
			                    <td>{=get_text(od.od_bank_account)}</td>
			                </tr>
							<!--{/}-->
							<tr>
								<th scope="row">무통장 입금 기한</th>
								<td>무통장 입금 기한 : 주문 일자 기준 3일 이내
									※ 입금 기한내 미입금시 주문이 취소 될 수 있습니다. </td>
							</tr>
							<!--{? _disp_receipt // 영수증}-->
			                <tr>
			                    <th>영수증</th>
			                    <td>
									<!--{? od.od_settle_case == '휴대폰'}-->
			                        <a href="javascript:;" onclick="{_hp_receipt_script}">영수증 출력</a>
			                        <!--{/}-->

									<!--{? od.od_settle_case == '신용카드'}-->
			                        <a href="javascript:;" onclick="{_card_receipt_script}">영수증 출력</a>
			                        <!--{/}-->
			                    <td>
			                    </td>
			                </tr>
							<!--{/}-->

							<!--{? od.od_receipt_point > 0}-->
			                <tr>
			                    <th>포인트사용</th>
			                    <td>{=display_point(od.od_receipt_point)}</td>
			                </tr>
							<!--{/}-->

							<!--{? od.od_refund_price > 0}-->
			                <tr>
			                    <th>환불 금액</th>
			                    <td>{=display_price(od.od_refund_price)}</td>
			                </tr>
							<!--{/}-->

							<!--{? default.de_taxsave_use // 현금영수증 발급을 사용하는 경우에만}-->
							<!--{? _misu_price == 0 && od.od_receipt_price && (od.od_settle_case == '무통장' || od.od_settle_case == '계좌이체' || od.od_settle_case == '가상계좡')}-->
			                <tr>
			                    <th>현금영수증</th>
			                    <td>
								<!--{? od.od_cash}-->
									<a href="javascript:;" onclick="{_cash_receipt_script}" class="btn-e btn-e-dark btn-e-xs">현금영수증 확인하기</a>
								<!--{:}-->
									<a href="javascript:;" onclick="window.open('{C.G5_SHOP_URL}/taxsave.php?od_id={_od_id}', 'taxsave', 'width=550,height=400,scrollbars=1,menus=0');" class="btn-e btn-e-red btn-e-xs">현금영수증을 발급하시려면 클릭하십시오.</a>
								<!--{/}-->
			                    </td>
			                </tr>
			                <!--{/}-->
			                <!--{/}-->
				        </tbody>
			        </table>
			    </div>
			</div>
	    </section>

	    <div class="headline"><h5><strong>주문하신 분</strong></h5></div>
	    <section>
			<!--{? C.G5_IS_MOBILE}-->
			<p class="text-right font-size-11 margin-bottom-5 color-grey">Note! 좌우 스크롤 (<i class="fa fa-arrows-h"></i>)</p>
			<!--{/}-->
			<div class="table-list-eb">
			    <div class="table-responsive">
			        <table class="table table-bordered">
				        <tbody>
			                <tr>
			                    <th>이 름</th>
			                    <td>{=get_text(od.od_name)}</td>
			                </tr>
			                <tr>
			                    <th>전화번호</th>
			                    <td>{=get_text(od.od_tel)}</td>
			                </tr>
			                <tr>
			                    <th>핸드폰</th>
			                    <td>{=get_text(od.od_hp)}</td>
			                </tr>
			                <tr>
			                    <th>주 소</th>
			                    <td>{=get_text(sprintf("(%s%s)", od.od_zip1, od.od_zip2))} {=print_address(od.od_addr1, od.od_addr2, od.od_addr3, od.od_addr_jibeon)}</td>
			                </tr>
			                <tr>
			                    <th>E-mail</th>
			                    <td>{=get_text(od.od_email)}</td>
			                </tr>
				        </tbody>
			        </table>
			    </div>
			</div>
	    </section>

	    <div class="headline"><h5><strong>받으시는 분</strong></h5></div>
	    <section>
			<!--{? C.G5_IS_MOBILE}-->
			<p class="text-right font-size-11 margin-bottom-5 color-grey">Note! 좌우 스크롤 (<i class="fa fa-arrows-h"></i>)</p>
			<!--{/}-->
			<div class="table-list-eb">
			    <div class="table-responsive">
			        <table class="table table-bordered">
				        <tbody>
			                <tr>
			                    <th>이 름</th>
			                    <td>{=get_text(od.od_b_name)}</td>
			                </tr>
			                <tr>
			                    <th>전화번호</th>
			                    <td>{=get_text(od.od_b_tel)}</td>
			                </tr>
			                <tr>
			                    <th>핸드폰</th>
			                    <td>{=get_text(od.od_b_hp)}</td>
			                </tr>
			                <tr>
			                    <th>주 소</th>
			                    <td>{=get_text(sprintf("(%s%s)", od.od_b_zip1, od.od_b_zip2))} {=print_address(od.od_b_addr1, od.od_b_addr2, od.od_b_addr3, od.od_b_addr_jibeon)}</td>
			                </tr>
							<!--{? default.de_hope_date_use}-->
			                <tr>
			                    <th>희망배송일</th>
			                    <td>{=substr(od.od_hope_date,0,10)} ({=get_yoil(od.od_hope_date)})</td>
			                </tr>
							<!--{/}-->
							<!--{? od.od_memo}-->
			                <tr>
			                    <th>전하실 말씀</th>
			                    <td>{=conv_content(od.od_memo, 0)}</td>
			                </tr>
			                <!--{/}-->
				        </tbody>
			        </table>
			    </div>
			</div>
	    </section>

	    <div class="headline"><h5><strong>배송정보</strong></h5></div>
	    <section>
			<!--{? C.G5_IS_MOBILE}-->
			<p class="text-right font-size-11 margin-bottom-5 color-grey">Note! 좌우 스크롤 (<i class="fa fa-arrows-h"></i>)</p>
			<!--{/}-->
			<div class="table-list-eb">
			    <div class="table-responsive">
			        <table class="table table-bordered">
				        <tbody>
							<!--{? od.od_invoice && od.od_delivery_company}-->
			                <tr>
			                    <th>배송회사</th>
			                    <td>{od.od_delivery_company} {=get_delivery_inquiry(od.od_delivery_company, od.od_invoice, 'dvr_link')}</td>
			                </tr>
			                <tr>
			                    <th>운송장번호</th>
			                    <td>{od.od_invoice}</td>
			                </tr>
			                <tr>
			                    <th>배송일시</th>
			                    <td>{od.od_invoice_time}</td>
			                </tr>
			                <!--{:}-->
			                <tr>
			                    <td class="text-center">아직 배송하지 않았거나 배송정보를 입력하지 못하였습니다.</td>
			                </tr>
			                <!--{/}-->
				        </tbody>
			        </table>
			    </div>
			</div>
	    </section>
    </div>

    <section class="sod-fin-tot">
        <div class="headline"><h5><strong>결제합계</strong></h5></div>
        <ul class="list-unstyled">
            <li>
                <strong>총 구매액</strong>
                <strong class="pull-right color-white">{=display_price(_tot_price)}</strong>
            </li>
			<!--{? _misu_price > 0}-->
			<li>
				<strong>미결제액</strong>
				<strong class="pull-right color-white">{=display_price(_misu_price)}</strong></li>
			<!--{/}-->
            <li>
                <strong>결제액</strong>
                <strong class="pull-right color-white">{_wanbul}</strong>
            </li>
        </ul>
    </section>

    <section class="sod-fin-cancel">
		<!--{? _cancel_price == 0}-->
			<!--{? _custom_cancel}-->
		<div class="text-center margin-top-30">
        	<button type="button" onclick="document.getElementById('sod_fin_cancelfrm').style.display='block';" class="btn-e btn-e-red btn-e-lg">주문 취소하기</button>
		</div>

        <div id="sod_fin_cancelfrm">
            <form method="post" action="./orderinquirycancel.php" onsubmit="return fcancel_check(this);" class="eyoom-form">
            <input type="hidden" name="od_id"  value="{od.od_id}">
            <input type="hidden" name="token"  value="{_token}">

            <label for="cancel_memo" class="label">취소사유</label>
			<div class="input-group">
				<label class="input">
					<input type="text" name="cancel_memo" id="cancel_memo" required class="form-control" size="40" maxlength="100">
				</label>
				<span class="input-group-btn">
					<button class="btn btn-default btn-e-group" type="submit" value="확인">확인</button>
				</span>
			</div>
            </form>
        </div>
			<!--{/}-->
		<!--{:}-->
        <p class="text-center">주문 취소, 반품, 품절된 내역이 있습니다.</p>
        <!--{/}-->
    </section>

	<!--{? _deposit_no}-->
	<div class="margin-hr-10"></div>
    <p class="margin-top-20 font-size-12 color-grey"><i class="fa fa-exclamation-circle"></i> 관리자가 가상계좌 테스트를 한 경우에만 보입니다.</p>
    <div class="tbl_frm01 tbl_wrap">
        <form method="post" action="http://devadmin.kcp.co.kr/Modules/Noti/TEST_Vcnt_Noti_Proc.jsp" target="_blank" class="eyoom-form">
		<!--{? C.G5_IS_MOBILE}-->
		<p class="text-right font-size-11 margin-bottom-5 color-grey">Note! 좌우 스크롤 (<i class="fa fa-arrows-h"></i>)</p>
		<!--{/}-->
		<div class="table-list-eb">
		    <div class="table-responsive">
		        <table class="table table-bordered">
			        <tbody>
				        <tr>
				            <th><label for="e_trade_no">KCP 거래번호</label></th>
				            <td>
			                    <label class="input">
			                        <input type="text" name="e_trade_no" value="{od.od_tno}">
			                    </label>
				            </td>
				        </tr>
				        <tr>
				            <th><label for="deposit_no">입금계좌</label></th>
				            <td>
			                    <label class="input">
			                        <input type="text" name="deposit_no" value="{_deposit_no}">
			                    </label>
					        </td>
				        </tr>
				        <tr>
				            <th><label for="req_name">입금자명</label></th>
				            <td>
			                    <label class="input">
			                        <input type="text" name="req_name" value="{od.od_deposit_name}">
			                    </label>
					        </td>
				        </tr>
				        <tr>
				            <th><label for="noti_url">입금통보 URL</label></th>
				            <td>
			                    <label class="input">
			                        <input type="text" name="noti_url" value="{C.G5_SHOP_URL}/settle_kcp_common.php">
			                    </label>
					        </td>
				        </tr>
			        </tbody>
		        </table>
		    </div>
		</div>
        <div id="sod_fin_test" class="text-center">
            <input type="submit" value="입금통보 테스트" class="btn-e btn-e-red">
        </div>
        </form>
    </div>
    <!--{/}-->

</div>
<!--{* 주문상세내역 끝 *}-->

<script>
$(function() {
    $("#sod_sts_explan_open").on("click", function() {
        var $explan = $("#sod_sts_explan");
        if($explan.is(":animated"))
            return false;

        if($explan.is(":visible")) {
            $explan.slideUp(200);
            $("#sod_sts_explan_open").text("상태설명보기");
        } else {
            $explan.slideDown(200);
            $("#sod_sts_explan_open").text("상태설명닫기");
        }
    });

    $("#sod_sts_explan_close").on("click", function() {
        var $explan = $("#sod_sts_explan");
        if($explan.is(":animated"))
            return false;

        $explan.slideUp(200);
        $("#sod_sts_explan_open").text("상태설명보기");
    });
});

function fcancel_check(f)
{
    if(!confirm("주문을 정말 취소하시겠습니까?"))
        return false;

    var memo = f.cancel_memo.value;
    if(memo == "") {
        alert("취소사유를 입력해 주십시오.");
        return false;
    }

    return true;
}
</script>