<?php if (!defined('_GNUBOARD_')) exit;
add_stylesheet('<link rel="stylesheet" href="../../../plugins/bootstrap/css/bootstrap.min.css" type="text/css" media="screen">',0);
add_stylesheet('<link rel="stylesheet" href="../../../plugins/font-awesome/css/font-awesome.min.css" type="text/css" media="screen">',0);
add_stylesheet('<link rel="stylesheet" href="../../../plugins/eyoom-form/css/eyoom-form.min.css" type="text/css" media="screen">',0);
add_stylesheet('<link rel="stylesheet" href="../../../css/common.css" type="text/css" media="screen">',0);
add_stylesheet('<link rel="stylesheet" href="../../../css/style.css" type="text/css" media="screen">',0);
add_stylesheet('<link rel="stylesheet" href="./shop_style.css" type="text/css" media="screen">',0);
add_stylesheet('<link rel="stylesheet" href="../../../css/custom.css" type="text/css" media="screen">',0);
?>

<style>
.shop-order-adress {padding:15px}
.shop-order-adress .eyoom-form {border:0}
.shop-order-adress .eyoom-form .radio i,.shop-order-adress .eyoom-form .checkbox i {top:2px}
.shop-order-adress .table-list-eb .table tbody > tr > td {text-align:center}
</style>

<div class="shop-order-adress">
	<div class="headline"><h6><strong>배송지 목록</strong></h6></div>
	<form name="forderaddress" method="post" action="{_order_action_url}" autocomplete="off" class="eyoom-form">
	<div class="table-list-eb">
	    <div class="table-responsive">
	        <table class="table table-bordered">
		        <thead>
			        <tr>
			            <th>
			                <label for="chk_all" class="sound_only">전체선택</label>
			                <label class="checkbox">
			                	<input type="checkbox" name="chk_all" id="chk_all"><i></i>
			                </label>
			            </th>
			            <th>배송지명</th>
			            <th width="60" >기본배송지</th>
			            <th>이름</th>
			            <th>전화번호</th>
			            <th>주소</th>
			            <th>관리</th>
			        </tr>
		        </thead>
		        <tbody>
					<!--{@ list}-->
			        <tr>
			            <td>
			                <input type="hidden" name="ad_id[{.key_}]" value="{.ad_id}">
			                <label for="chk_{.key_}" class="sound_only">배송지선택</label>
			                <label class="checkbox">
			                	<input type="checkbox" name="chk[]" value="{.key_}" id="chk_{.key_}"><i></i>
			                </label>
			            </td>
			            <td>
			                <label for="ad_subject{.key_}" class="sound_only">배송지명</label>
							<label class="input">
                                <input type="text" name="ad_subject[{.key_}]" id="ad_subject{.key_}" class="frm_input" size="12" maxlength="20" value="{.ad_subject}">
                            </label>
			            </td>
			            <td>
							<label for="ad_default{.key_}" class="radio"><input type="radio" name="ad_default" value="{.ad_id}" id="ad_default{.key_}" {? .ad_default}checked="checked"{/}><i class="rounded-x"></i></label>
			            </td>
			            <td>{.ad_name}</td>
			            <td>{.ad_tel}<br>{.ad_hp}</td>
			            <td>{=print_address(.ad_addr1, .ad_addr2, .ad_addr3, .ad_jibeon)}</td>
			            <td>
			                <input type="hidden" value="{.addr}">
			                <button type="button" class="sel_address btn-e btn-e-red btn-e-xs">선택</button>
			                <a href="{.del_href}" class="del_address btn-e btn-e-dark btn-e-xs">삭제</a>
			            </td>
			        </tr>
			        <!--{/}-->
		        </tbody>
	        </table>
	    </div>
	</div>

    <div class="text-center margin-top-10">
        <input type="submit" name="act_button" value="선택수정" class="btn_submit btn-e btn-e-red">
        <button type="button" onclick="self.close();" class="btn-e btn-e-dark">닫기</button>
    </div>
	</form>
</div>

{=eb_paging('basic')}

<script>
$(function() {
    $(".sel_address").on("click", function() {
        var addr = $(this).siblings("input").val().split(String.fromCharCode(30));

        var f = window.opener.forderform;
        f.od_b_name.value        = addr[0];
        f.od_b_tel.value         = addr[1];
        f.od_b_hp.value          = addr[2];
        f.od_b_zip.value         = addr[3] + addr[4];
        f.od_b_addr1.value       = addr[5];
        f.od_b_addr2.value       = addr[6];
        f.od_b_addr3.value       = addr[7];
        f.od_b_addr_jibeon.value = addr[8];
        f.ad_subject.value       = addr[9];

        var zip1 = addr[3].replace(/[^0-9]/g, "");
        var zip2 = addr[4].replace(/[^0-9]/g, "");

        if(zip1 != "" && zip2 != "") {
            var code = String(zip1) + String(zip2);

            if(window.opener.zipcode != code) {
                window.opener.zipcode = code;
                window.opener.calculate_sendcost(code);
            }
        }

        window.close();
    });

    $(".del_address").on("click", function() {
        return confirm("배송지 목록을 삭제하시겠습니까?");
    });

    // 전체선택 부분
    $("#chk_all").on("click", function() {
        if($(this).is(":checked")) {
            $("input[name^='chk[']").attr("checked", true);
        } else {
            $("input[name^='chk[']").attr("checked", false);
        }
    });

    $(".btn_submit").on("click", function() {
        if($("input[name^='chk[']:checked").length==0 ){
            alert("수정하실 항목을 하나 이상 선택하세요.");
            return false;
        }
    });
});
</script>