<?php
if (!defined('_GNUBOARD_')) exit; // 개별 페이지 접근 불가
if (!defined("_ORDERINQUIRY_")) exit; // 개별 페이지 접근 불가
?>

<style>
.sod-v thead th {text-align:left !important}
</style>

<div class="sod-v">
    <p><i class="fa fa-info-circle"></i> 주문서번호 링크를 누르시면 주문상세내역을 조회하실 수 있습니다.</p>

    {# orderinquiry_sub_bs}

	{=eb_paging('basic')}
</div>