<?php if (!defined('_GNUBOARD_')) exit; ?>

<style>
.shop-personal-pay .personal-img {border:1px solid #d5d5d5}
.shop-personal-pay .personal-pay {border:1px solid #d5d5d5;border-top:0;padding:8px 10px}
.shop-personal-pay .personal-price {border:1px solid #d5d5d5;background:#f8f8f8;border-top:0;padding:8px 10px;text-align:right;margin-bottom:30px}
.shop-personal-pay .personal-price strong {color:#ae0000}
</style>

<!--{* 상품 목록 시작 *}-->
<div class="shop-personal-pay">
	<section>
	<!--{@ list}-->
	    <div class="col-sm-4">
	        <div class="personal-img"><a href="{.href}" class="sct_a"><img src="./img/personal.jpg" class="img-responsive" alt=""></a></div>
	        <div class="personal-pay"><a href="{.href}">{=get_text(.pp_name)}님 개인결제</a></div>
	        <div class="personal-price"><strong>{=display_price(.pp_price)}</strong></div>
	    </div>
	    <!--{? .key_%3==0}-->
	    <div class="clearfix"></div>
	    <!--{/}-->
	<!--{:}-->
		<div class="text-center">
			<p><i class="fa fa-exclamation-circle"></i> 등록된 개인결제가 없습니다.</p>
		</div>
	<!--{/}-->
	</section>
	<div class="clearfix"></div>

	{=eb_paging('basic')}

</div>
<!--{* 상품 목록 끝 *}-->