@charset "utf-8";

/*----- Header Top Bar -----*/
.header-topbar .topbar-left li .dropdown-menu {margin-top:1px}
.header-topbar .topbar-left li .dropdown-menu li {display:block;padding:3px 0;font-size:12px}
@media (max-width: 991px){
	.header-topbar .topbar-left li .dropdown-menu {left:-60px}
	.header-topbar .topbar-left li .dropdown-menu li {text-align:left !important}
}

/*----- Common -----*/
.margin-hr-5 {height:1px;border-top:1px dotted #ddd;margin:5px 0;clear:both}
.margin-hr-10 {height:1px;border-top:1px dotted #ddd;margin:10px 0;clear:both}
.margin-divide-5 {height:1px;border-top:1px solid #ddd;margin:5px 0;clear:both}
.margin-divide-10 {height:1px;border-top:1px solid #ddd;margin:10px 0;clear:both}
.basic-bs-main .list-inline {margin-left:0}
#sod_frm_escrow img {margin-bottom:20px}

/*----- Shop Product Latest -----*/
/*Shop rgba*/
.shop-rgba-red {background:#FF2900;-ms-filter:"progid: DXImageTransform.Microsoft.Alpha(Opacity=80)";filter:alpha(opacity=80);opacity:0.8}
.shop-rgba-yellow {background:#FF9400;-ms-filter:"progid: DXImageTransform.Microsoft.Alpha(Opacity=80)";filter:alpha(opacity=80);opacity:0.8}
.shop-rgba-green {background:#87BA00;-ms-filter:"progid: DXImageTransform.Microsoft.Alpha(Opacity=80)";filter:alpha(opacity=80);opacity:0.8}
.shop-rgba-purple {background:#8559ED;-ms-filter:"progid: DXImageTransform.Microsoft.Alpha(Opacity=80)";filter:alpha(opacity=80);opacity:0.8}
.shop-rgba-orange {background:#FF5400;-ms-filter:"progid: DXImageTransform.Microsoft.Alpha(Opacity=80)";filter:alpha(opacity=80);opacity:0.8}
.shop-rgba-dark {background:#1F263B;-ms-filter:"progid: DXImageTransform.Microsoft.Alpha(Opacity=80)";filter:alpha(opacity=80);opacity:0.8}

/*RGBA Banner*/
.rgba-banner-area {position:absolute;top:10px;right:10px}
.rgba-banner {height:16px;width:60px;line-height:16px;color:#fff;font-size:10px;text-align:center;font-weight:normal;position:relative;text-transform:uppercase;margin-bottom:1px}

/*Rating*/
.product-ratings {margin:0;padding:0;margin-right:3px}
.product-ratings li {padding:0;margin-right:-3px}
.product-ratings li .rating {color:#959595;line-height:normal;font-size:14px}
.product-ratings li .rating-selected {color:#FF2900;font-size:14px}
.product-ratings li.ratings-average {margin-left:8px;color:#757575;font-size:13px}

/*Like Icon*/
.product-ratings li.like-icon {float:right;margin-left:8px}
.product-ratings li.like-icon a {color:#ccc}
.product-ratings li.like-icon a:hover {color:#e33334;text-decoration:none}

/*Reply*/
.product-ratings li.reply a {color:#e33334}

/*Owl Carousel*/
#owl-shop .item img {width:100%;display:block;max-width:100%;height:auto}
#bar {width:0;max-width:100%;height:3px;background:#a4a4aa}
#progressBar {width:100%;background:#f4f4f4}

/*Headline Left*/
.headline-left {position:relative}
.headline-left h2 {color:#555;font-size:18px;position:relative;margin-bottom:20px;padding-bottom:10px}
.headline-left h2:after {left:1px;z-index:1;width:30px;height:2px;content:" ";bottom:-5px;position:absolute;background:#dedede}

/*Specifies List*/
.specifies-list li {color:#999}
.specifies-list li i {margin-right:8px}
.specifies-list li span {color:#777}

/*Product Comment*/
.product-comment {padding:20px;border:1px solid #f0f0f0}
@media (min-width: 768px) {
	.product-comment .product-comment-in .product-comment-in {margin-left:50px;padding-top:30px;border-top:1px solid #eee}
}
.product-comment .product-comment-in:after,.product-comment .product-comment-in:before {content:" ";display:table}
.product-comment .product-comment-in:after {clear:both}
.product-comment img.product-comment-img {float:left;width:50px;height:50px;margin-right:15px}
.product-comment .product-comment-dtl {overflow:hidden;margin-bottom:10px;padding-bottom:10px}
.product-comment .product-comment-dtl h4 {color:#555;font-size:18px;overflow:hidden}
.product-comment .product-comment-dtl h4 small {color:#888;float:right;display:block;margin-top:6px}
.sky-changes-4 label.label-v2 {color:#999;display:block;font-size:14px;font-weight:400}
.sky-changes-4 h3 {color:#555}

/*Review Submit*/
.review-submit {overflow:hidden}
.stars-ratings {float:left}
.stars-ratings li {padding:0}
.stars-ratings input {left:-9999px;position:absolute}
.stars-ratings label {float:right;height:17px;display:block;padding:0 2px;font-size:14px;cursor:pointer;line-height:17px}
.stars-ratings label {color:#8bdccd;-ms-transition:color 0.3s;-moz-transition:color 0.3s;-webkit-transition:color 0.3s}
.stars-ratings input + label:hover,.stars-ratings input + label:hover ~ label {color:#18ba9b}
.stars-ratings input:checked ~ label {color:#18ba9b}
.review-submit button.btn-u.pull-right {margin-top:-17px}

/*Stars Ratings Label*/
.stars-ratings-label label {font-size:24px;margin:0 4px 5px}

/* Footer */
.footer.footer-light li, .footer.footer-light address {color:#777}
.footer.footer-light address {line-height:20px}
.footer.footer-light a {color:#555}
.footer.footer-light a:hover {color:#e33334}
.footer.footer-dark li, .footer.footer-dark address {color:#888}
.footer.footer-dark a {color:#666}
.footer.footer-dark a:hover {color:#e33334}

/* Shop Main Banner*/
.shop-main-banner > .row {margin:0 -8px}
.shop-main-banner > .row > div {padding:0 8px}
.shop-main-banner a {display:block;position:relative;height:80px;width:100%;overflow:hidden}
.shop-main-banner > .row > div:nth-child(1) a {background:#EDEDED}
.shop-main-banner > .row > div:nth-child(2) a {background:#AADEDF}
.shop-main-banner > .row > div:nth-child(3) a {background:#DDBB98}
.shop-main-banner a .banner-text {padding:10px}
.shop-main-banner a .banner-text h3 {border:1px solid #fff;padding:5px 10px;font-size:14px;color:#fff;text-align:left;margin:0;-webkit-transition:all 0.5s ease-in-out;-moz-transition:all 0.5s ease-in-out;transition:all 0.5s ease-in-out}
.shop-main-banner a .banner-text h3 small {font-size:20px;display:block;color:#fff;font-family:sans-serif;font-weight:bold}
.shop-main-banner a .banner-text i {position:absolute;right:20px;top:24px;font-size:30px;color:#fff;-webkit-transition:all 0.5s ease-in-out;-moz-transition:all 0.5s ease-in-out;transition:all 0.5s ease-in-out}
.shop-main-banner a:hover .banner-text i {margin-right:10px}
.shop-main-banner a:hover .banner-text h3 {padding-left:20px}
.shop-main-banner > .row > div:nth-child(1) .banner-text {border-color:#555}
.shop-main-banner > .row > div:nth-child(1) .banner-text h3 {color:#555}
.shop-main-banner > .row > div:nth-child(1) .banner-text small {color:#555}
.shop-main-banner > .row > div:nth-child(1) .banner-text i {color:#555}
.shop-main-banner a .banner-img img {height:80px;width:auto}
.shop-main-banner a .banner-img h3 {font-size:12px;color:#555;position:absolute;top:10px;right:15px}
.shop-main-banner a .banner-img h3 small {display:block;font-size:16px;color:#fff}

/* Shop Topbar */
.header-topbar .dropdown-menu li a {background:none;color:#6a6a6a}
.header-topbar .dropdown-menu li a:hover {background:none;color:#333}

/* Shop Quick Menu */
.quick-menu {position:absolute;z-index:2;right:-90px;top:79px;width:80px;border:1px solid #d5d5d5;background:#fff}
.quick-menu ul {margin:0}
.quick-menu ul li {position:relative;display:block;text-align:center;padding:10px 0;border-bottom:1px solid #d5d5d5}
.quick-menu ul li.current-view {padding:0;border-bottom:0}
.quick-menu ul li a i {color:#2E3340;font-size:20px}
.quick-menu ul li span {display:block;color:#2E3340;font-size:11px;padding-top:2px}
.quick-menu ul li a:hover i, .quick-menu ul li a:hover span {color:#DE2600}
.quick-menu ul li .quick-carousel {background:#efefef;width:100%}
.quick-menu ul li .quick-carousel h4 {font-size:11px;margin:0;line-height:30px;color:#2E3340}
.quick-menu ul li .item a img {width:100%;height:80px;background:#fff}
.quick-menu ul li p {width:100%;height:80px;padding-top:20px;letter-spacing:-1px;font-size:12px;background:#fff;margin:0}
.quick-menu ul li .quick-carousel .carousel-arrow a {font-size:11px;color:#2E3340;padding:5px}
.quick-menu ul li .quick-carousel .carousel-arrow a:hover {color:#DE2600}
@media (max-width:1310px){
	.quick-menu {display:none}
}