<?php if (!defined('_GNUBOARD_')) exit; // ?>

<div class="basic-body-side {? eyoom.pos_side_layout == 'left'}left{:}right{/}-side col-md-3">
	<!--{* ------------- Notice Balloon 최신글 영역 시작 ------------- *}-->
	<div class="margin-bottom-20">
		<!--{* 아래 bo_table=게시판id 설정 *}-->
		{latest->latest_eyoom('notice_balloon','bo_table=게시판id||count=5||cut_subject=50')}
	</div>
	<!--{* ------------- Notice Balloon 최신글 영역 끝 ------------- *}-->

<!--{? !C.G5_IS_MOBILE //PC버전에서만 출력}-->
	<div class="margin-bottom-20">
		<!--{* 아웃로그인 *}-->
		<!--{? eyoom.use_gnu_outlogin == 'y'}-->{=outlogin('basic')}<!--{:}-->{=eb_outlogin(eyoom.outlogin_skin)}<!--{/}-->
	</div>

	<!--{? !defined('_INDEX_') //쇼핑몰 메인이 아닐때 출력}-->
	<div class="margin-bottom-20">
		<!--{* 쇼핑몰 상품 가져오기 : type은 1~5까지 가능 || 1:히트상품, 2:추천상품, 3:최신상품, 4:인기상품, 5:할인상품 || type옵션이 없을경우 최신상품 등록순으로 추출 *}-->
		{latest->latest_item('item_carousel',"title=히트상품||count=6||cut_name=50||width=400||type=1")}
	</div>
	
	<div class="margin-bottom-20">
		<!--{* 쇼핑몰 상품 가져오기 : type은 1~5까지 가능 || 1:히트상품, 2:추천상품, 3:최신상품, 4:인기상품, 5:할인상품 || type옵션이 없을경우 최신상품 등록순으로 추출 *}-->
		{latest->latest_item('item_carousel',"title=최신상품||count=6||cut_name=50||width=400||type=3")}
	</div>
	
	<div class="margin-bottom-20">
		<!--{* 쇼핑몰 상품 가져오기 : type은 1~5까지 가능 || 1:히트상품, 2:추천상품, 3:최신상품, 4:인기상품, 5:할인상품 || type옵션이 없을경우 최신상품 등록순으로 추출 *}-->
		{latest->latest_item('item_carousel',"title=할인상품||count=6||cut_name=50||width=400||type=5")}
	</div>
	<!--{/}-->

	<!--{* ------------- 새글 새댓글 영역 시작 ------------- *}-->
	<div class="margin-bottom-20">
		<div class="side-tab margin-bottom-20">
		    <div class="tab-e2">
		        <ul class="nav nav-tabs">
		            <li class="active"><a href="#side-tn-1" data-toggle="tab">새글</a></li>
		            <li class="last"><a href="#side-tn-2" data-toggle="tab">새댓글</a></li>
		        </ul>
		        <div class="tab-content">
		            <div class="tab-pane fade active in" id="side-tn-1">
		                <div class="tab-content-wrap">
		                    {latest->latest_newpost('tab_newpost', 'count=5||cut_subject=30||photo=y')}
		                </div>
		            </div>
		            <div class="tab-pane fade in" id="side-tn-2">
		                <div class="tab-content-wrap">
			                {latest->latest_newpost('tab_newcomment', 'count=5||cut_subject=30||photo=y')}
		                </div>
		            </div>
		        </div>
		    </div>
		</div>
	</div>
	<!--{* ------------- 새글 새댓글 영역 끝 ------------- *}-->
	
	<!--{? defined('_INDEX_') //쇼핑몰 메인일때 출력}-->
		<!--{? 1 //투표스킨, 앞숫자 0: 미출력, 앞숫자 1: 출력}-->
		<div class="margin-bottom-20">
			<!--{* 투표 *}-->
			<!--{? eyoom.use_gnu_poll == 'y'}-->{=poll('basic')}<!--{:}-->{=eb_poll(eyoom.poll_skin)}<!--{/}-->
		</div>
		<!--{/}-->
	
		<!--{? 1 //랭킹스킨, 앞숫자 0: 미출력, 앞숫자 1: 출력}-->
		<div class="margin-bottom-20">
		    <!--{* 랭킹 *}-->
		    {latest->latest_rankset('basic','10')}
		</div>
		<!--{/}-->
	
		<!--{? 1 //인기검색어 스킨, 앞숫자 0: 미출력, 앞숫자 1: 출력}-->
		<div class="margin-bottom-20">
			<!--{* 인기검색어 *}-->
			<!--{? eyoom.use_gnu_popular == 'y'}-->{=popular('basic')}<!--{:}-->{=eb_popular(eyoom.popular_skin)}<!--{/}-->
		</div>
		<!--{/}-->
	<!--{/}-->
	
	<!--{? _is_admin // 관리자일때만 보입니다.}-->
	<div class="margin-bottom-20">
	    <!--{* 방문자 통계 *}-->
		<!--{? eyoom.use_gnu_visit == 'y'}-->{=visit('basic')}<!--{:}-->{=eb_visit(eyoom.visit_skin)}<!--{/}-->
	</div>
	<!--{/}-->
<!--{/}-->
</div>

<!--{? is_side_sticky == 'yes'}-->
<script type="text/javascript" src="../../../js/theia-sticky-sidebar.min.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function() {
        App.initSideSticky();
    });
</script>
<!--{/}-->